[2015-04-21 13:43] skywinder commented on #152
Now I got this error also. If #160 is a bug with formatting but now I can't run deliver at all.

[2015-04-21 13:46] skywinder commented on #152
I found a workaround.
@cnordvik As temporary workaround: you can skip pdf generation with `-f` flag!

[2015-04-21 14:27] KrauseFx commented on #181
As the output says, it's probably a firewall or internet connection issue.

[2015-04-21 14:46] osrufung opened #182 "App Version of IPA does not match: could be it optional?"
Sometimes I receive .IPA files (from development partners) with anormal version numbers (40.0, 10.0, etc...), but when I publish in iTunes Connect, I can "overwrite" the version number with "normal" numbers like 1.0, 1.1, etc...

But deliver check this matching of versions in a non optional way. Could be it "bypassed"? Thanks Felix!

[2015-04-22 07:04] kaililleby opened #183 "UndefinedConversionError in /itunes_connect_submission.rb:73 when DELIVER_WHAT_TO_TEST contains non-ascii characters"
running Deliver 0.9.2 on latest osx, when the env variable DELIVER_WHAT_TO_TEST contains none-ascii characters the process terminates with an Encoding::UndefinedConversionError exception.
Is there some missing handling of encoding in the hash.to_json call on line 73 in itunes_connect_submission.rb ?

my stacktrace:
15:27:04.401 [QUIET] [system.out] [37mINFO [2015-04-21 15:27:02.16]: [0m[32mBuil

[2015-04-22 08:48] kaililleby commented on #183
PS seems to be a problem with my build environment - deliver is invoked in gradle task in jenkins - and the problem seems to be caused by missing LC_* env settings..

[2015-04-22 09:23] kaililleby commented on #183
adding LC_CTYPE=UTF-8 to the env solved the problem!

[2015-04-22 09:23] #183 closed

[2015-04-23 02:58] caojianhua1741 opened #184 "Error when upload ipa to testflight"
[code]

The error occurs after
[code]

[2015-04-23 08:03] KrauseFx commented on #184
Either you have problems with your internet connection or you have an outdated version of OpenSSL installed.

[2015-04-23 09:21] milch commented on #184
Possible duplicate of krausefx/sigh#84

[2015-04-23 09:30] milch commented on #141
Has this been solved yet? Otherwise, we could run `system "file -I -b #{filename}"` on each file and get the mime type from that. `file` is pre-installed on every Mac, so this would not add any dependency at all.

[2015-04-24 08:54] tkiener opened #185 "deliver init fails with Ruby highland-conflict"
can anyone help? I just updated from deliver 0.7.13 to latest 0.9.2 and get the following error...
thanks,
tim

$ deliver init
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/rubygems/specification.rb:2007:in `raise_if_conflicts': Unable to activate commander-4.2.1, because highline-1.7.2 conflicts with highline (~> 1.6.11) (Gem::LoadError)
	from /System/Library/Framework

[2015-04-24 09:01] KrauseFx commented on #185
Please update using `sudo gem update`. Sorry for the troubles.

[2015-04-24 09:18] tkiener commented on #185
solved it by calling:
sudo gem install commander

[2015-04-24 09:18] #185 closed

[2015-04-24 10:02] tkiener opened #186 "pdf generation error. deliver 0.9.2"
can anyone help?
thanks,
tim

Your document includes text that's not compatible with the Windows-1252 character set. (Prawn::Errors::IncompatibleStringEncoding)
If you need full UTF-8 support, use TTF fonts instead of PDF's built-in fonts

[2015-04-24 13:02] KrauseFx commented on #186
There is an issue with the PDF library I'm using. I'm switching to HTML reports soon. (Issue: https://github.com/KrauseFx/deliver/issues/160)

Feel free to skip pdf generation using `deliver --force`

[2015-04-24 13:02] #186 closed

[2015-04-24 14:47] dpa99c commented on #181
Yep, pretty sure you are right seems the Signiant protocol is blocked by the corporate firewall (as mentioned [here](https://github.com/KrauseFx/deliver/issues/77#issuecomment-76673289), which would explain why deliver 0.4.2 worked OK since it was using DAV.

[2015-04-25 15:33] gilthonweapps commented on #141
Hi, got the same issue too with my screenshots.

[2015-04-25 18:32] maridansoft commented on #141
just convert them somehow from jpg to png.

[2015-04-25 19:31] KrauseFx commented on #184
Thanks @milch :+1:

[2015-04-25 19:31] #184 closed

[2015-04-25 19:33] KrauseFx commented on #185
@milch do you have any idea why this doesn't get resolved automatically? Isn't that what the gem resolver should do?

[2015-04-27 08:30] caojianhua1741 commented on #184
@KrauseFx
[code]

Need to upgrade the version of openssl?

[2015-04-27 11:42] KrauseFx commented on #184
via @milch

[2015-04-27 12:31] osrufung commented on #182
Application Loader allows you to upload a different version number of ipa file from the ITC version number.

[2015-04-27 13:29] KrauseFx commented on #182
Sorry, there is no way to bypass it right now. Can you give me more information:

- What error message do you receive?
- Do you set a version number in your `Deliverfile`?
- What what would like to be changed? How would that look like as seen from the user?

[2015-04-27 13:45] osrufung commented on #182
* That's the error message I receive:
`/Library/Ruby/Gems/2.0.0/gems/deliver-0.9.2/lib/deliver/deliver_process.rb:353:in verify_app_version: App Version of IPA does not match with the given one (1.0 != 4.0) (`

* Yes, I set The 1.0 version in *Deliverfile*. But my .IPA version is 4.0... (i can't change this because I don't have control over *compilation process*)
* I propose to add a new property

[2015-04-27 13:50] nAviram opened #187 "error when runnig deliver without setting the price first"
We created a new app in ITC and run Deliver. We got this:

[code]

Is there a way to run deliver without setting the price first?

[2015-04-27 15:03] KrauseFx commented on #187
You can set the price tier using `deliver`: https://github.com/KrauseFx/deliver/blob/master/Deliverfile.md#price_tier

[2015-04-27 21:15] milch commented on #185
I don't know, I'll take a look at it and see if I can reproduce it tomorrow.

[2015-04-28 06:11] osrufung commented on #187
I think @nAviram must refer to the *initial price*... That's my problem too. 😕

[2015-04-28 07:16] nAviram commented on #187
@osrufung is right. We have it set in the Deliverfile:

price_tier 1
If the price was not set when opening a new app in ITC, the script fails.

[2015-04-28 07:46] milch commented on #185
Couldn't reproduce this problem, but I know where the issue is anyway. [Look at this article on gem specs](http://erik.hollensbe.org/2013/05/11/gem-activation-and-you/).

Versions of commander prior to [4.3.1](https://github.com/tj/commander/commit/443f0e9286fdd584b86567747921daeac6b82b0b) depend on `'highline', '~> 1.6.11'`, however, `fastlane_core` depends on versions `'highline', '>= 1.7.2'`, b

[2015-04-29 06:57] jaikumarbhambhwani commented on #118
I am running into the same issue. Any solutions to this. Just to point out i have a watchkit extension for which it is giving me "Invalid Provisioning Profile"

[2015-04-29 10:01] theoriginalgri commented on #118
I also had this once. In my case XCode's settings in "Build Settings" -> "Code Signing" were "iOS Developer" in Release mode. Switching this manually to "iOS Distribution" fixed the issue.

[2015-04-29 13:33] hjanuschka opened #190 "deliver - shenzhen - watchkit - invalid binary"
hello

if i build my ipa (wich includes a watchkit app & watchkit extension) - it succesfully uploads to ITC, but later on - it states "invalid binary" in itc.

i already updated all my gems - if i build & upload via xcode/organizer the binary seems to be OK.
any known issues on this one?

no clue how to debug

regards
helmut

[2015-04-29 15:28] douglaslondrina opened #191 "Binary uploaded, but not changed for previously created version on iTC"
In a situation where a version is already created on iTunes Connect and is waiting for the user to "Submit for Review" and a build is already in place, if a new build is created and sent, all information is updated but the binary, leading to incorrect app being submitted. The new binary is actually there, it's just not selected.

In my opinion the correct behaviour should select the newer binary o

[2015-04-29 16:28] douglaslondrina commented on #191
Same goes for deliver 0.9.3

[2015-04-30 00:11] JaiKumarB commented on #118
I just noticed that for apps having extra scheme for watch app, Xcode 6.2 didn't have the ability to provide specific the provisioning profile for watch app scheme. This is enabled from 6.3 onwards. Updated xcode, pointed to specific provisioning profile and  it worked.

[2015-05-03 11:51] KrauseFx commented on #191
Thanks for reporting. I see, `deliver` must verify the version number actually matches the one it uploaded. I hope to find some time to improve this soon. In the mean time, you can skip the submission and use the upload-only mode.

[2015-05-03 12:00] KrauseFx commented on #185
Related https://github.com/KrauseFx/snapshot/issues/140

[2015-05-03 12:06] KrauseFx commented on #187
Yes, initial pricing cannot be set with `deliver` right now. If you have some time, I'll happily merge a pull request. I don't know when I'll find time to work on this.

[2015-05-03 12:08] KrauseFx commented on #187
It's not super easy, as the pricing is set in the XML file and you'd have to set all kinds of values to get this working.

Right now, the initial pricing is automatically set by [produce](https://github.com/KrauseFx/produce) to get this working.

The easiest solution probably is to also use front-end scripting to set the initial pricing.

[2015-05-04 14:52] hjanuschka commented on #190
seems to be shenzhen related and fix in https://github.com/nomad/shenzhen/pull/258

[2015-05-04 22:50] KrauseFx commented on #190
So, did you update `shenzhen`? Did it work?

[2015-05-05 07:07] hjanuschka commented on #190
tried it right now - and ITC took the binary as valid :)
anyway - i don't know what happens if the WK is added to an app wich does not have a WatchKit Target.

[2015-05-05 08:15] KrauseFx commented on #190
Okay, thanks, this is an issue of `shenzhen`, moving further discussion to https://github.com/nomad/shenzhen/pull/258#issuecomment-98942115

[2015-05-05 08:15] #190 closed

[2015-05-05 18:22] endoze commented on #190
A temporary solution to get around this issue is to use `bundle open shenzhen` and remove [these lines](https://github.com/nomad/shenzhen/blob/b42fefdd75e5b82e847b5a523c053f072b25f081/lib/shenzhen/commands/build.rb#L125-L138). This is definitely not a permanent solution but it's gotten me around the issue until it can be resolved and a new version is released.

[2015-05-05 20:17] chrisballinger opened #192 "PDF generation failure when using UTF-8"
During the PDF generation process it fails when generating PDFs that use UTF-8 characters like "Κρυπτογραφημένος".

edit: solved by using the `skip_pdf` option

[code]

[2015-05-05 20:59] KrauseFx commented on #192
Sorry, duplicate of https://github.com/KrauseFx/deliver/issues/160

Please use `--force` to skip the PDF creation for now. I'm working on a fix :+1:

[2015-05-05 20:59] #192 closed

[2015-05-05 21:02] chrisballinger commented on #192
Ah sorry, didn't see the other issue. Thanks!

[2015-05-05 21:17] KrauseFx commented on #192
Sorry if I seemed rude in any way. I'm trying to get this resolved but don't like dealing with HTML code, which delays everything :wink:

[2015-05-05 21:25] chrisballinger commented on #192
Oh no worries, your new tool is replacing my old manual method of python / ruby scripts and manual invocation of iTMSTransporter. So far so good!

[2015-05-06 07:21] arsonik opened #193 "Testflight upload "Include app symbols for your application to receive symbolicated crash logs from Apple""
Hi

Sorry if that feature exists but I couldn't find it !
Is there a way to deliver/upload the app (beta) to Apple the same way
it would be if I used the organizer and check that box ?
![screen shot 2015-05-06 at 09 20 15](https://cloud.githubusercontent.com/assets/1333734/7488948/26fe70c8-f3d1-11e4-930e-a33cf8337343.png)

Cheers

[2015-05-06 09:15] theoriginalgri opened #194 "Parallel uploads might fail due to temp file"
Today I started up my Jenkins to build new versions for my apps. To my surprise, two of them failed with strange errors.

The first one (app1):
[code]

The second one (app2):
[code]

After looking at the source of deliver I found that it creates "/tmp/deploytmp.plist" and reads it using the plistutil. When this is done by two or more builds in parallel, a race condition occurs and the build of app

[2015-05-06 09:26] KrauseFx commented on #194
Oh, this is a good point. Actually, all `fastlane` tools are designed to **not** run in parallel. For example `snapshot` uses the simulator.

I guess I should go through all tools, decide if parallel execution should be possible. If it's not, I'll implement some lock mechanism so only one instance is running at the same time.

[2015-05-06 09:34] KrauseFx commented on #193
Sorry, I honestly don't know. I'm always using third party crash reporter.

[2015-05-08 11:01] JCardenete opened #195 "Unable to find field "accountname" (Capybara::ElementNotFound)"
Hello Krause.

Sometimes (not always), when trying to upload the .ipa file, it ends up at this point and showing this message:

[code]

Any ideas?

[2015-05-08 11:17] KrauseFx commented on #195
@JCardenete I noticed iTunes Connect being very slow today, maybe that's the reason.

[2015-05-08 13:25] pvegh opened #196 "Not enough info in failure cases"
I have two targets and fastlane builds fine with one of them.
Since I am not too much experienced with ios builds yet, I need more than the only error message I can see in the build log:
▸ Linking my_project
clang: error: linker command failed with exit code 1 (use -v to see invocation)

and a ruby stacktrace:
[code]

[2015-05-08 15:15] kerrmarin opened #197 "Add a tool to 'validate' the Deliverfile"
Hey,

It would be great to have a tool that can "lint" the Deliverfile 'a la' `pod lib lint`.

Thanks

[2015-05-08 16:18] KrauseFx commented on #197
I agree, that would most certainly be nice :+1:

[2015-05-08 16:24] KrauseFx commented on #196
You haven't posted the full output, so it's hard to tell more. It seems like you're using `fastlane`'s `ipa` action, so this issue might be related to `fastlane` and not `deliver`.

[2015-05-08 16:31] pvegh commented on #196
I edited the original post which now has the full stacktrace in it.
Yes it is the ipa action using the Pod workspace with a second target I want to build. I might have made a mistake somewhere along the way for which I would like to see an error message that can help find the issue.

[2015-05-08 18:56] kerrmarin opened #198 "Support for external testers in Testflight"
Hi,

It would be great to have the ability to distribute applications to external testers via Deliver.

Thanks

[2015-05-08 19:51] KrauseFx commented on #198
Agreed, would be a nice feature in the future :+1:

[2015-05-08 22:38] hiltonc opened #199 "Error logging in user ******** with the given password. Make sure you entered them correctly."
Often it works fine. Other times I get this error:

	INFO [2015-05-08 16:18:53.74]: ------------------------------------------------------------------------------------------------------
	INFO [2015-05-08 16:18:53.74]: Successfully uploaded package to iTunesConnect. It might take a few minutes until it's visible online.
	INFO [2015-05-08 16:18:53.74]: ----------------------------------------------

[2015-05-08 22:39] hiltonc commented on #199
Any chance it can retry a few times or something?

[2015-05-09 07:03] gilthonweapps commented on #199
Hi,
Got the same issue too.
I have been recently granted access to App Analytics Beta on ItunesConnect. It is the only recent change to my account. I think "deliver" checks something on the page to see if we are logged. So maybe there is something to check there.

[2015-05-09 17:27] KrauseFx commented on #181
I noticed the following in your output:
[code]

[2015-05-10 08:27] Jeswang opened #201 "If you need full UTF-8 support, use TTF fonts instead of PDF's built-in fonts"
When I use deliver, I face this error

.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/prawn-2.0.1/lib/prawn/font/afm.rb:106:in `rescue in normalize_encoding': Your document includes text that's not compatible with the Windows-1252 character set. (Prawn::Errors::IncompatibleStringEncoding)
If you need full UTF-8 support, use TTF fonts instead of PDF's built-in fonts

It seems to be not fully s

[2015-05-10 08:29] Jeswang commented on #201
Didn't find already some one reported similar thing.

[2015-05-10 08:29] #201 closed

[2015-05-10 09:06] KrauseFx commented on #201
I'm fixing this issue **today** :+1: Sorry about this issue. In the mean time use the `--force` option.

[2015-05-10 10:11] KrauseFx commented on #47
Do we already have a radar for this issue?

[2015-05-10 15:11] KrauseFx commented on #160
Fixed with https://github.com/KrauseFx/deliver/pull/202 :+1:

[2015-05-10 15:11] #160 closed

[2015-05-10 16:37] KrauseFx commented on #199
@gilthonweapps thanks for the tip, I'll check this out! :+1:

[2015-05-10 16:38] KrauseFx commented on #199
Could one of your please share the HTML code after you login on iTunes Connect? I don't have access to Analytics yet.

Thanks :+1:

[2015-05-10 16:57] gilthonweapps commented on #199
Hi,

I just checked and it is working again. Don't know why :)

[2015-05-11 10:52] dpa99c commented on #181
Hi Felix,

This error occurred during the last successful submission using `deliver` 0.4.2 - although this error appears in the log, the IPA was actually successfully uploaded and processed by iTunes Connect.

Ironically, that error doesn't appear in the other build log for `deliver` 0.9.2, which is the one that didn't submit the IPA successfully.

When I get some time, I'll try to figure out whic

[2015-05-11 18:10] czechboy0 commented on #35
+1

[2015-05-12 03:06] andhieka opened #203 "Unsupported screen size will cause RuntimeError"
When one of the screenshots have an unsupported screen size, it will cause ```deliver``` command to fail with a RuntimeError. I think it should tell the user and exit more gracefully. Here is the full output and stack trace.
[code]

[2015-05-12 04:27] hiltonc commented on #199
Same here, this issue has disappeared.

[2015-05-12 04:27] #199 closed

[2015-05-12 04:29] hiltonc opened #204 "Failure when running two instances of deliver at the same time"
I'm getting this error when I have two delivers happening at the same time. This surprisingly happens a lot for me, because I have a source code repo that, upon changing, triggers two Jenkins jobs to build two different variations of the same app. One delivers, the other fails:

	deliver testflight App.ipa --beta -a <app_id>
	Could not automatically find the app identifier, please enter the app's

[2015-05-12 04:30] hiltonc commented on #194
I've hit this problem a lot, too. Jenkins job timings.

[2015-05-12 07:31] andhieka opened #205 "Error when using zh_CN language code"
using a zh_CN language code will cause an error 1102 from iTunes Transporter because the underscore does not pass Regex validation.

[2015-05-12 07:47] andhieka commented on #205
[code]

I'm not sure why. But Apple said in their website explicitly that they support zh-Hans and zh-Hant. They should support underscores as well because it is part of the iso standard. Maybe it's a bug in transporter.

[2015-05-12 08:37] KrauseFx commented on #205
Good question. If you already have the language enabled on iTunes Connect, can you run `deliver init` in a different folder and see what language code gets generated?

[2015-05-12 08:37] KrauseFx commented on #203
Do you think `deliver` should keep running and just not upload that file? My thought was that when there is an invalid screenshot in the screenshots folder, something is wrong and the upload should be aborted.

[2015-05-12 08:38] KrauseFx commented on #194
In the mean time, you'll have to configure Jenkins so that the `deliver` job is only executed one time in parallel.

[2015-05-12 08:40] KrauseFx commented on #204
[code]

That's not a valid command, it should be:

[code]

The `app_id` is the numeric value (e.g. `956814360`), but is optional. If the bundle identifier is stored in your `Appfile` you don't have to pass an `app_id`.

Does that help?

[2015-05-12 09:08] andhieka commented on #205
I will try your suggestion very very soon. But actually what I have done is fork the deliver project, disable your validations for ```INVALID_LANGUAGE_ERROR```, and push the value "zh-CN" to ```FastlaneCore::Languages::ALL_LANGUAGES```. It works.

Neither "cmn-Hant", "cmn-Hans", "zh-Hant" nor "zh-Hans" works, interestingly.

[2015-05-12 09:12] andhieka commented on #203
Hi @KrauseFx! Thanks for considering my issue. I was just starting to study your project yesterday. I didn't know that RuntimeError is your way of informing error to user. After posting this issue, I have seen that RuntimeError is being consistently used to show error, and hence I think it is fine (that's why I closed the issue).

I agree with you that the upload should be aborted. Thanks for the

[2015-05-12 09:16] KrauseFx commented on #203
Okay, great, thank you @andhieka :+1:

[2015-05-12 09:16] #203 closed

[2015-05-12 14:18] bgerstle commented on #125
It doesn't seem to be working for me:

- Mac OSX 10.10 Yosemite
- Ruby: `system`
- [Gems](https://github.com/bgerstle/apps-ios-wikipedia/blob/what-to-test/Gemfile.lock):
  - Fastlane 1.0.2
  - Deliver 0.9.4

Here's my jenkins shell script step:

[code]

I've also tried:

- Setting `ENV['DELIVER_WHAT_TO_TEST'] = ...` in...
  - the Fastfile (before invoking deliver in the lane)
  - Deliverfile
- Usi

[2015-05-12 15:02] carles commented on #35
Yes, this feature would be quite nice to have

[2015-05-12 15:12] hiltonc commented on #194
As a workaround, I'm now using this wherever I use `deliver` in Jenkins:

    lockfile -l600 /tmp/deliver.lock
    deliver ...
    rm -f /tmp/deliver.lock

[2015-05-12 15:40] hiltonc commented on #204
I'm not using an Appfile because the same code is built for two different apps. But I did try the command `deliver testflight App.ipa` and it worked perfectly. Thanks!

[2015-05-12 15:46] #204 closed

[2015-05-12 16:21] mariecl opened #206 "./metadata folder structure"
Hi,

I saw the documentation specifies:

I understand this `./metadata` folder is created when you run `deliver init` and already have an app on the Apple Store.

- Is there any other way to generate it?
- Can you clarify the folder structure? (this would be a nice addition to the documentation)

Thanks.

  Marie.

[2015-05-12 17:39] KrauseFx commented on #204
Great to hear :+1:

[2015-05-12 18:01] KrauseFx commented on #206
Hey @mariecl,

That is true, that part is not documented yet. It's probably a good idea if you create an empty app on iTunes Connect, enable all languages you need and then run `deliver init`.

Here is an example how you can set title, description, etc. in your `Deliverfile`: https://github.com/fastlane/examples/blob/master/SunApps/Deliverfile#L44

Does that mean Sunrise is working on a new app :s

[2015-05-12 18:27] mariecl commented on #206
OK great, I'll just run `deliver init` on an empty app then. But it'd be great if you could get that structure added to the docs in the future!

Btw, I don't think we're working on a new app, I just have a bunch of things to test out and I don't want to screw up the "real" account for now :smile: , so reading the docs is much easier for me right now.

[2015-05-12 21:31] KrauseFx commented on #206
Hey @mariecl, I pushed the `fastlane` configuration from the Wikipedia app to the [fastlane examples](https://github.com/fastlane/examples/tree/master/Wikipedia/metadata). I hope that helps :+1:

[2015-05-12 21:34] mariecl commented on #206
Thank you! That's exactly what I needed :+1:

[2015-05-13 14:37] jmorford opened #207 "--skip_deploy failing"
Gemfile.lock
 deliver (0.10.0)
      credentials_manager (>= 0.3.0)
      excon
      fastimage (~> 1.6.3)
      fastlane_core (>= 0.7.2)
      nokogiri (~> 1.6.5)
      plist (~> 3.1.0)
      prawn
      rubyzip (~> 1.1.6)

From log:
Successfully installed phantomjs. Yay!
Removed temporarily downloaded files.
/Users/travis/build/overhq/Over/vendor/bundle/ruby/2.0.0/gems/commander-4.3.4/lib/comman

[2015-05-13 14:45] KrauseFx commented on #207
Try `deliver --skip-deploy` :+1:

[2015-05-13 14:45] KrauseFx commented on #207
Is there any part of the README showing it with `_`?

[2015-05-13 14:47] jmorford commented on #207
Yikes. Did the setting recently change, or has it recently started causing the script to fail, as I have been using the incorrect setting for a couple of weeks already :(
Sorry to waste your time, and thanks for the very swift response. J

[2015-05-13 14:47] #207 closed

[2015-05-13 14:49] KrauseFx commented on #207
No problem. No, the setting has never changed, but: when using `deliver` with `fastlane` you use `skip_deploy` in your `Fastfile`, that's probably the reason :wink:

[2015-05-14 07:53] pvegh commented on #196
I actually found the specific error that caused the issue.
Confirms that the output shown above (or anywhere in my console) did not show any information about the actual issue, the problem remains as I mentioned earlier: Fastlane needs to catch these errors (e.g. stacktrace above) and present more exact error messages (and possible solutions) instead, like what command exactly went wrong and in th

[2015-05-14 08:29] KrauseFx commented on #196
@pvegh Thanks for your feedback. This is an issue of [shenzhen](https://github.com/nomad/shenzhen), which is used by `fastlane`. I agree there is room for improvement, which is why I submitted [this issue](https://github.com/nomad/shenzhen/issues/221), but haven't heard back from @mattt yet.

[2015-05-14 08:48] pvegh commented on #196
Btw. my issue was caused by not having the right item in Xcode under "Linked frameworks and libraries", needed the right one referencing the Pods framework. Xcode was not very helpful either, though there was just a little hint that helped to look at the right place.
Thanks for your input!

[2015-05-14 08:48] KrauseFx commented on #196
Thank you @pvegh :+1:

[2015-05-14 08:48] #196 closed

[2015-05-14 11:33] dpa99c commented on #181
After lots of persuading sysadmins to open ports on the corporate firewall, I still couldn't get the upload to work using Signiant protocol.

However, I noticed it is possible to override the default and use WebDav:

    DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS="-t DAV" deliver

This works for me, so I'm closing this issue since the Signiant problem is nothing to do with `deliver` whic

[2015-05-14 11:33] #181 closed

[2015-05-14 11:40] KrauseFx commented on #181
Great to hear @dpa99c :+1: Thanks!

[2015-05-14 12:03] sergigracia commented on #169
Is there a way to not try to upload the screenshots? And always maintain the old ones (the already uploaded in previous versions) Thanks.

[2015-05-14 17:13] KrauseFx commented on #169
@sergigracia no, as posted above it's a bug of the iTunes Transporter by Apple. You can however run `deliver init` in a temporary directory to download all your existing screenshots.

[2015-05-14 17:18] BigPapoo commented on #169
@KrauseFx Not sure to understand... Would a "deliver init" in a tempo dir prevent uploading all the screenshots back? If no screenshot is present, the iTC ones will be deleted, right? You wrote about using a command flag, does your tool provide such a flag now to skip sending the shots back to iTC? Am I missing something?

[2015-05-14 17:27] KrauseFx commented on #169
No, when using `deliver` it **will** overwrite the screenshots on iTunes Connect. That's a bug on the iTunes Transporter.

The workaround I described above works like this:

- Run `deliver init` in a temporary folder to let `deliver` download the existing screenshots from iTunes Connect
- Copy the downloaded screenshots from the temporary folder into the `screenshots` folder of your project
- Run

[2015-05-14 17:34] BigPapoo commented on #169
Yes it does, so that will upload the same shots again and again, each time we push a new version. I understand it to be a bug in iTMSTransporter, but when you told about a command switch to prevent unnecessary uploads, I thought that could be an option to "deliver", but in fact you mean this should be an option to iTMSTransporter, so we are stuck waiting for Apple to fix it, right? Thx for your ti

[2015-05-14 17:39] KrauseFx commented on #169
@BigPapoo Don't worry, after the first upload using `deliver`, the transporter automatically notices they are the same screenshots and won't upload them again. So you'll only have to upload them again once!

[2015-05-14 18:25] BigPapoo commented on #169
Ahh ok! So I really did miss something! Thanks for this clarification.

[2015-05-14 19:26] sergigracia commented on #169
Thank you @KrauseFx, I've added the screenshots and the app icon in a folder and now seems that `deliver` is uploading the screenshots, the log says:
`
Updated software_screenshots for locale de-DE
Updated software_screenshots for locale el-GR
Updated software_screenshots for locale en-US
Updated software_screenshots for locale es-ES
Updated software_screenshots for locale fr-FR
Updated software_s

[2015-05-14 19:28] KrauseFx commented on #169
@sergigracia iTunes Connect usually takes up to 10 minutes until the changes are visible online. Let me know if it's still not visible by then.

[2015-05-14 20:44] mariecl commented on #205
Same error here. Using `zh-CN` is not recognized by `deliver` (which was explained in the docs, but it's weird that all other languages use a "-" and that one uses a "_"):
[code]
Using `zh_CN` is recognized by `deliver` but fails on Apple side:
[code]
(btw, in my case, line 288 holds the title of the app in Chinese characters)

I added `Chinese Simplified` as a new version of the app on iTunes Con

[2015-05-14 20:57] mariecl commented on #205
Nevermind, the last error comes from the fact that I added a `version_whats_new` for an app version of `1.0` which is not possible.
So I guess the conclusion is just that `zh-CN` and `zh_CN` fail, but `cmn-Hans` works instead.

[2015-05-14 22:10] #206 closed

[2015-05-14 22:13] mariecl opened #208 "Pass credentials as environment variables"
Hi!

Just wondering how I should name the environment variables when running `deliver` if I don't want the data to be stored in my Mac keychain?
I tried but failed using the following:

[code]
Are all of these required? Did I forget any variable?
This also would be a nice addition to the docs.

Thanks.

[2015-05-15 01:57] andhieka commented on #205
@mariecl Somehow, I follow exactly the same path that you have taken. I also got misled by the version_whats_new error, thinking that it is still caused  by the language code. I guess the solution is:
 - [] Remove zh_CN from list of supported languages
 - [] Mention in the documentation that version_whats_new (or changelog in Deliverfile) must be empty when submitting the application for the first

[2015-05-15 08:17] sergigracia commented on #169
13h later the screenshots still not here, what can I do @KrauseFx? Thank you.

[2015-05-15 08:28] KrauseFx commented on #208
Hi @mariecl,

Where do you have those variable names from? They don't exist.

With `deliver`, you store your configuration (except for the password) on the filesystem to deploy from any computer. When you run `deliver` init it should have created all that for you.

You can use `DELIVER_USER` and `DELIVER_PASSWORD` to temporary pass user credentials to deliver, but you have to use them like this: `

[2015-05-15 08:29] KrauseFx commented on #169
@sergigracia Please share your complete output when running `deliver`.

[2015-05-15 08:30] KrauseFx commented on #205
Thanks @andhieka,

for the changelog problem there already is an issue: https://github.com/KrauseFx/deliver/issues/159
There is no `zh_CN`? Should I just remove it from the `available_languages`?

[2015-05-15 09:22] sergigracia commented on #169
Here it is: https://dl.dropboxusercontent.com/u/2837397/lane_log.txt

[2015-05-15 09:24] KrauseFx commented on #169
The upload seemed to have worked just fine. You could try uploading the screenshots again using `DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS="-t DAV" deliver`, which will use a different server. Also, you can submit a radar, as this clearly is a bug of iTunes Connect.
Sorry for the troubles.

[2015-05-15 09:30] andhieka commented on #205
@KrauseFx Yes Felix. It's best to remove `zh_CN` from the `available_languages`. Thanks!

[2015-05-15 11:17] andhieka commented on #170
@KrauseFx I think @futuretap is right that jpg files are converted to png but the file extension is not. This will cause an error while reuploading. How about the following data? Do you see anything wrong? (I haven't actually tested deliver on this app - since it's a live production app, but I suspect there will be something wrong with the jpeg.

[code]

[2015-05-15 14:39] mariecl commented on #208
Those variable names were just wild guesses.
I found that in the docs...

... and didn't know how to name the password variable so I tried a few options, then started wondering if I could pass other elements as environment variables.
Thanks for clarifying.

[2015-05-15 14:40] #208 closed

[2015-05-15 16:20] sergigracia commented on #169
@KrauseFx after some tests now it's working running the script using jpg screenshots instead of png. The pngs I was trying to upload have alpha channel so I assume that could be the problem. Maybe this info is useful for you to improve the script. Thank you for your help :clap:
FYI, @ Redbooth we are adopting Fastlane to all our deployment processes and it's great :metal:

[2015-05-15 17:47] KrauseFx commented on #169
@sergigracia I just uploaded > 100 screenshots today and it worked fine - all pngs. Weird, but probably nothing I can do :disappointed:

Thanks for letting me know :+1:

[2015-05-15 17:47] #169 closed

[2015-05-15 17:51] KrauseFx commented on #208
I updated the README to make this more clear, thanks for your feedback :+1:

[2015-05-15 17:55] KrauseFx commented on #205
Thanks, I updated it, going to be online with the next release :+1:

[2015-05-15 20:48] mariecl commented on #208
Thanks for your help!

[2015-05-16 02:18] hiltonc opened #209 "DELIVER_WHAT_TO_TEST being assigned to wrong language"
My app is localized in every store language. I set DELIVER_WHAT_TO_TEST, but it gets put in the "What to Test" for Malay, not English. Any way to configure that?

[2015-05-16 08:21] KrauseFx commented on #209
Nice catch - I haven't considered multi language in beta builds.

That's code building up the web request:

[code]

I don't know where I can define the language, maybe it's the number `0` that must be changed?

[2015-05-16 13:33] KrauseFx commented on #205
I pushed a commit fixing this :+1: thanks again for your help @andhieka

[2015-05-16 13:33] #205 closed

[2015-05-19 02:53] hiltonc commented on #209
Another automated build was uploaded and the notes got put in the Portuguese "What to Test", so apparently the order of languages is indeterminate.

I just looked at the data that gets sent to iTunes Connect when I updated the English "what's new" in my browser. It looks something like this:

	{
		"availableLanguages": [
			"Danish",
			"Italian",
			"Simplified Chinese",
			"Traditional Chinese",

[2015-05-19 02:54] hiltonc commented on #209
Sorry for not submitting a PR, I only know how to script a little in Ruby.

[2015-05-19 07:41] niklassaers opened #210 "init generates old code"
Hi,
I did "fastlane init", and it gave me among other things this line:

deliver :skip_deploy, :beta

Deliver throws up over this, saying I should read the migration guide and write it correctly. I'll fix my file, but the init should probably be fixed as well :-)

Cheers

    Nik

[2015-05-19 08:34] jonnyijapan opened #211 "Upload IAP screenshots?"
Can this thing upload IAP screenshots in a batch? The Application Loader seems to fail at this thing (and everything else). Someone noted that deliver can upload metadata like IAP details... can it?

[2015-05-19 11:25] KrauseFx commented on #211
Yes, `deliver` can upload binaries and metadata, but not in app purchases. Sure, you could chain multiple calls of `deliver` to upload more binaries.

[2015-05-19 11:25] KrauseFx commented on #210
Ohhhhh, thank you so much for letting me know, I completely missed migrating the template :stuck_out_tongue_winking_eye:

[2015-05-19 11:38] KrauseFx commented on #209
@hiltonc posting the JSON data already helped a lot. I'll prepare a `beta` version, which you can test :+1:

[2015-05-19 11:41] KrauseFx commented on #209
I just pushed `deliver 0.11.1.beta`, please install using `sudo gem update deliver --pre` :rocket:

Please let me know if that works and I'll push a new public version :+1:

[2015-05-19 11:42] jonnyijapan commented on #211
I mean the screenshots of the IAP for review. I have 20 for my next app and it's a pain doing them one by one. I vote for such a feature.

2015/05/19 20:25$B!"(BFelix Krause <notifications@github.com> $B$N%a%C%;!<%8(B:

[2015-05-19 11:42] #210 closed

[2015-05-19 11:45] KrauseFx commented on #211
No, that's not implemented, sorry.

[2015-05-19 15:46] hiltonc commented on #209
Just tried it, ran into an error:

    INFO [2015-05-19 09:12:16.63]: Ready to upload new build to TestFlight (...)
    INFO [2015-05-19 09:12:16.63]: Uploading ipa file to iTunesConnect
    INFO [2015-05-19 09:12:17.57]: Going to upload updated app to iTunesConnect
    INFO [2015-05-19 09:12:17.57]: This might take a few minutes, please don't interrupt the script
    INFO [2015-05-19 09:12:17.66]

[2015-05-19 15:47] hiltonc commented on #209
I'm not sure if that's related to the change or if I'm doing it wrong.

[2015-05-19 15:49] KrauseFx commented on #209
@hiltonc no, it seems like it couldn't even upload the binary. Can you try again maybe?

[2015-05-19 15:49] KrauseFx commented on #209
`ERROR [2015-05-19 09:12:47.18]: [Transporter Error Output]: Failed to upload file: /tmp/598329798.itmsp/6571d0ba36d87cd567f317c63520a05b.ipa`

[2015-05-19 15:54] hiltonc commented on #209
The weird thing is, the build did actually get uploaded. I'll run another build through and report.

[2015-05-19 16:33] hiltonc commented on #209
OK, that was a fluke, sorry. It successfully ran this time, but assigned the "What to Test" to Thai.

[2015-05-19 16:34] hiltonc commented on #209
Just to make sure:

    $ deliver --version
    deliver 0.11.1.beta

[2015-05-19 18:58] simX opened #212 "Transporter transfer failed, return status of iTunes Transporter was 1"
I seem to be getting an error every time I try to just update the metadata and screenshots for my app, and the screenshots are definitely not updated after it fails.  Here's the last few lines of log output from deliver.  Any idea what this means?  It's hard to google an error of "1" for this. :)

[code]

[2015-05-19 18:59] KrauseFx commented on #209
Yes, you seem to be using the correct version. That's odd...

[2015-05-19 19:00] KrauseFx commented on #212
Hi, is that the full output you get?

[2015-05-19 20:42] simX commented on #212
No, the full output was pretty long, but here it is.  Please let me know if there's any sensitive information I should redact, I took a look and didn't see anything too crucial.

simx@SIMX ~/Development/My-Secret-App> deliver upload_metadata
INFO [2015-05-19 13:28:19.34]: Got all information needed to deploy a new update ('2.3.0') for app 'com.somedomain.MySecretApp'
INFO [2015-05-19 13:28:22.65]:

[2015-05-19 20:59] KrauseFx commented on #212
I assume it's a firewall issue
[code]

Do you have a different internet connection you could try `deliver` with?

[2015-05-19 21:27] simX commented on #212
Thanks for the diagnosis!  I tried on a different computer and got the popup about allowing incoming connections for java.  I usually deny that for java because of how many security holes it has.  Once I allowed incoming connections for java in my OS X Firewall settings, deliver worked!  Thanks!  (Might want to make a note of that somewhere in the read me, if it isn't already.)

[2015-05-19 21:53] ldrr commented on #125
Unfortunately I have to agree @bgerstle

Here's a short excerpt from my Fastfile
[code]

The ```DELIVER_WHAT_TO_TEST```is built some lines ahead but in the logfile I can see that the input is okay:

[code]

[2015-05-19 22:03] KrauseFx commented on #125
@ldrr are you using the latest version of `deliver`? Does your app support multiple languages? If so can it be that `deliver` only fills in one language?

[2015-05-19 22:04] KrauseFx commented on #125
@ldrr taken from https://github.com/KrauseFx/deliver/issues/209

[2015-05-19 22:05] bgerstle commented on #125
@ldrr, @KrauseFx and I actually spoke about this recently and determined the problem was that I was setting `skip_deploy:` to true, which skips updating the iTC metadata. @KrauseFx would that be the problem here as well?

[2015-05-19 22:06] KrauseFx commented on #212
Thank you @simX :+1:

[2015-05-19 22:06] #212 closed

[2015-05-19 22:07] KrauseFx commented on #125
Ha, you're right @bgerstle, completely missed that. Ugh, I think I really have to change that behaviour in `deliver`. @ldrr `deliver` doesn't set the changelog when `skip_deploy` is enabled.

Should I update `deliver` to always set the changelog?

[2015-05-19 22:13] KrauseFx commented on #125
Since some users (including me) still want a way to only upload a binary without distributing, I'd say I add a super big and obvious warning when the user provided a changelog but enabled `skip_deploy`.

[2015-05-19 22:15] bgerstle commented on #125
@KrauseFx or, have another way to explicitly specify what metadata fields get updated? i guess it depends how you feel about breaking backwards compat w/ `skip_deploy` (i.e. changing it to only affect the "Automatic Release" or "enable beta testing" switches).

[2015-05-19 22:17] KrauseFx commented on #125
![screenshot 2015-05-19 23 16 52](https://cloud.githubusercontent.com/assets/869950/7715157/2df3b7e2-fe7d-11e4-91bc-f1f0a9935451.png)

This is what I added now.

@bgerstle Unfortunately there is no way to *only* update the beta build metadata. It will always trigger a distribution to all testers automatically.

[2015-05-19 22:19] bgerstle commented on #125
@KrauseFx that seems like a good solution, at least for now. Not much you can do w/ a private API, I guess.

[2015-05-20 06:29] ldrr commented on #125
OK I think  I misunderstood the skip_deploy completely: ITC always sent the new-testversion-avaible-mail to the internal beta testers. I thought skip_deploy prevents fastlane from "pressing" the "Submit For Beta App Review"-button.

What is the expected behavior with beta=true and skip_deploy=true?

[2015-05-20 12:39] artem-alexandrov opened #213 "Could not find object by bundle id"
Command used:
[code]
Output:
[code]
Calling this URL from browser returns this:
[code]

I think it should not tell me that it couldn't find app.

[2015-05-20 12:55] artem-alexandrov commented on #213
It's strange, but it works ok on another mac... what could be different?.. I've updated all related gems on both macs (I guess..)

[2015-05-20 13:13] kerrmarin commented on #198
Is this in the roadmap at all? I'd be quite happy to work on a pull request for this, but it may take me some time since I've never done ruby before. Don't want to waste my time! :smile:

[2015-05-20 15:57] KrauseFx commented on #198
@kerrmarin sorry no, I'm currently only working on new feature of my clients. If one of them decides they need this feature I would implement it, but doesn't look like it right now.

I'll happily review and merge a pull request if you got the time :+1:

[2015-05-20 15:57] mariecl opened #214 "Support for ar-SA, he-IL and hi-IN languages"
Is there any plans to add support for the following languages?
- ar-SA (Arabic)
- he-IL (Hebrew)
- hi-IN (Hindi)

[2015-05-20 16:03] KrauseFx commented on #214
Were those languages recently added? The available languages are defined [here](https://github.com/fastlane/fastlane_core/blob/master/lib/fastlane_core/languages.rb#L4).

I see no reason we can't add those languages if they are officially supported by Apple. You can make sure they are there by adding those languages manually on iTunes Connect and running `deliver` locally and take a look at the `[

[2015-05-20 16:03] KrauseFx commented on #214
Actually I can do that, I'll take a closer look later today :+1:

[2015-05-20 16:07] KrauseFx commented on #213
That's weird, maybe some firewall or SSL issue?

[2015-05-20 16:11] artem-alexandrov commented on #213
What i've found untill now is that on normal mac I have system ruby of version 2.0.0, and on a failed one - rvm with 2.1.2 and something is wrong with gems... I will probably need to reinstall ruby at least

[2015-05-20 16:13] mariecl commented on #214
Thanks for making me check directly on iTunes connect, it seems like these languages are currently not supported in there, so there's no need to add support for them!

[2015-05-20 16:13] #214 closed

[2015-05-20 16:18] KrauseFx commented on #214
Okay, thanks for letting me know :+1:

[2015-05-20 16:25] KrauseFx commented on #125
`beta: true` tells `deliver` to upload a beta build to iTunes Connect, which means, no app metadata will be uploaded.

`skip_deploy: true` tells `deliver` to not put the uploaded binary into release mode. When `beta` is `true` that means no distribution to TestFlight testers. When `beta` is `false` that means the app doesn't get sent to Review.

[2015-05-20 18:16] pedro380085 opened #215 "Metadata Test Flight"
Hi @KrauseFx ,

I've read `Deliverfile.md` documentation but I've not found how to upload metadata to the App Store Test Flight section. Is that possible?

Thank you!

[2015-05-20 18:23] KrauseFx commented on #215
Hi,

yes some basic information can be set:

[code]

Additional environment variables: DELIVER_BETA_DESCRIPTION, DELIVER_BETA_FEEDBACK_EMAIL.

Make sure to use `deliver` without the `skip_deploy` feature, otherwise the data is not yet. Let me know if that works for you :+1:

[2015-05-20 18:26] pedro380085 commented on #215
Thank you!

[2015-05-20 18:26] #215 closed

[2015-05-20 18:36] KrauseFx commented on #215
:+1:

[2015-05-21 00:40] pedro380085 opened #216 "Error logging in user **** with the given password. Make sure you entered them correctly."
What is weird is that I also get the following output:

[code]

[2015-05-21 05:57] pedro380085 commented on #216
Just tried again and now it runs smooth as always! Apple web services are crazy, go figure it out.

[2015-05-21 05:57] #216 closed

[2015-05-21 06:43] kerrmarin commented on #198
Cool, thanks for the fast reply! I'll see what I can do :)

[2015-05-21 07:22] artem-alexandrov commented on #213
OK, i've moved from rvm's version to system one, beaten the nokogiri and got success in submitting build to appstore. The issue is probably in ruby 2.1.2 or with some gems..

[2015-05-21 08:55] KrauseFx commented on #213
Okay, thanks for letting me know :+1:

[2015-05-21 08:56] KrauseFx commented on #216
Sorry about this :disappointed:

[2015-05-21 09:48] #213 closed

[2015-05-21 09:49] KrauseFx commented on #195
Are you still running into this problem? I'll close this issue for now, feel free to re-open if you're still experimenting this problem.

[2015-05-21 09:50] #179 closed

[2015-05-21 09:51] KrauseFx commented on #179
This issue should be fixed, let me know if you're still experimenting this problem.

[2015-05-21 09:52] KrauseFx commented on #176
Do you still run into this problem? I'll close this issue for now, feel free to re-open if this is not fixed in the latest version.

[2015-05-21 09:52] #176 closed

[2015-05-21 09:52] KrauseFx commented on #174
The screenshot upload works fine for me, I uploaded a few thousands screenshots with it already. Are you still running into this problem?

[2015-05-21 09:53] osrufung commented on #187
Hi @KrauseFx any idea about when release this enhancement? Thanks!

[2015-05-21 09:54] KrauseFx commented on #163
Sorry for the delayed reply. You can generally use Ruby in the `Fastfile` and `Appfile`. That means you can add this to your `Appfile`:

[code]
and then call `fastlane` or `deliver` like this: `APP_IDENTIFIER="com.krausefx.app" deliver`

[2015-05-21 09:54] #134 closed

[2015-05-21 09:55] hstaudacher commented on #176
Sorry for the late response. Was on Vacation for 3 weeks. In the meantime we have increased our version again and everything seems to work again. Maybe it was just a hick up of iTunes connect.

[2015-05-21 09:55] KrauseFx commented on #176
Great to hear @hstaudacher :+1:

[2015-05-21 09:55] KrauseFx commented on #187
@osrufung I'm not working on this feature, sorry. It's covered already when using `produce` to create a new app.

Why don't you use `produce` for that?

[2015-05-21 09:57] KrauseFx commented on #103
Is this fixed with the latest version? I'll close this issue for now, let me know if you're still running into this problem :+1:

[2015-05-21 09:57] #103 closed

[2015-05-21 09:59] osrufung commented on #187
@KrauseFx oouch! I'm already using produce.. Maybe a previous version when I detect this situation. 😔

[2015-05-21 10:02] KrauseFx commented on #187
Okay, that should solve the issue :+1:

[2015-05-21 10:02] #187 closed

[2015-05-21 12:31] artem-alexandrov opened #217 "Looks like your login data was correct, but you do not have access to the apps."
I'm seeing this message in deliver logs from time to time, but I'm not changing anything.. Looks like it just can't detect access rights from time to time.

----------
[code]

[2015-05-21 13:01] dpa99c opened #218 "'deliver --beta --skip-deploy' not working since v0.11.0"
Since updating to deliver 0.11.0, running `deliver --beta --skip-deploy` is resulting in the error: Cannot update metadata of apps 'Ready for Sale'

But reverting to deliver 0.10.0, it works fine.

Note that I'm using the WebDAV protocol because Signiant was not working from behind the corporate firewall: `DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS="-t DAV" deliver  --beta --skip-deploy`

[2015-05-21 13:17] KrauseFx commented on #217
Unfortunately, this is just an iTunes Connect error, since the website is terribly slow today, try running it again.

[2015-05-21 13:26] JCardenete commented on #195
Ok Krause! I ran into this problem several times in my last updates. I'll keep an eye on this on the next batch of updates.

[2015-05-21 13:27] KrauseFx commented on #218
Oh, I'm sorry about this, this should be skipped for beta builds, I push a fix right now.

[2015-05-21 13:32] dpa99c commented on #218
Thanks -  I really appreciate your effort to keep this up-to-date :+1:

[2015-05-21 13:33] KrauseFx commented on #218
@dpa99c Update is live: https://github.com/KrauseFx/deliver/releases/tag/0.11.1

Sorry again for the problem introduced with `0.11.0` and thanks for the very detailed issue you submitted.
Please let me know if the new version works as expected for you :+1:

[2015-05-21 13:44] dpa99c commented on #218
Get an error now because the published version in the app store (2.7) doesn't match the version in the IPA uploaded for beta testing (3.0)

    Skipping submission of app update
    /Library/Ruby/Gems/2.0.0/gems/deliver-0.11.1/lib/deliver/deliver_process.rb:443:in `load_app_version_from_ipa':  App Version of IPA does not match with the given one (2.7 != 3.0) [0m (Deliver::Deliverfile::Deliverfile:

[2015-05-21 15:09] #163 closed

[2015-05-21 16:41] KrauseFx commented on #218
@dpa99c I just pushed a fix: https://github.com/KrauseFx/deliver/releases/tag/0.11.2

Please update and let me know if that works for you :+1:

[2015-05-21 16:59] dpa99c commented on #218
@KrauseFx I'll give it a try in the morning and let you know
On 21 May 2015 17:41, "Felix Krause" <notifications@github.com> wrote:

[2015-05-21 18:03] domhof commented on #218
@KrauseFx I had experienced the same issue (version mismatch) today with 0.11.1. Now, after updating to 0.11.2 I get the 'cannot update metadata' error from the original post.

Also there seems to be an issue with the login, since I often get 'Error logging in user xxx@xxxxx.xxx with the given password. Make sure you entered them correctly.'.

[2015-05-22 10:12] KrauseFx commented on #218
@domhof Please let me know if that fixes your problem: https://github.com/KrauseFx/deliver/releases/tag/0.11.3

Regarding the invalid login, this is an iTunes Connect server issue unfortunately, I published a work-around, update using `sudo gem update fastlane_core`.

[2015-05-22 11:43] myrddinus commented on #218
@KrauseFx I have the same kind of issue since 0.11. I just updated to 0.11.3.
I needed to fill in the deliver file these 3 variables:
[code]
Furthemore, the ```apple_id``` var in deliverfile may be in conflict with the ```apple_id``` in Appfile ?

[2015-05-22 11:45] robwithhair commented on #195
I am also seeing this problem.  May be iTunes connect status related.  Trying server reboot.

[2015-05-22 12:31] KrauseFx commented on #195
Could you try updating `fastlane_core` using `sudo gem update fastlane_core`? I pushed a workaround for this issue.

[2015-05-22 12:31] KrauseFx commented on #218
@myrddinus can you share your `Deliverfile` and the terminal output?

[2015-05-22 12:49] robwithhair commented on #195
Thanks felix, will do.  Was gonna do that after trying reboot and xcode update.  We're buying an extra mac mini now to do updates and parallel builds so we'll be more stable I hope.

[2015-05-22 13:03] myrddinus commented on #218
The new DeliverFile (which is working) :
[code]

Terminal output when it didn't work :
[code]

I'm using Fastlane via Jenkins.

By the way, thanks for this tools !

[2015-05-22 14:42] domhof commented on #218
@KrauseFx 0.11.3 works for me! Thanks! :+1:
I also have beta_ipa, app_identifier and apple_id in my Deliverfile.

[2015-05-22 15:14] dpa99c commented on #218
@KrauseFx 0.11.3 has fixed the issue for now - it's now working fine, thanks :+1:

[2015-05-22 15:14] #218 closed

[2015-05-22 20:03] KrauseFx commented on #218
Great to hear :+1:
@myrddinus your error message is just a network timeout. Try again and update using `sudo gem update fastlane_core`

[2015-05-24 04:30] mono0926 opened #221 "Failed with "App status not yet implemented""
My app's current status is "Pending Developer Release".

Under such status, after I executed deliver via fastlane, I got this error.

[code]

The cause is here:
https://github.com/KrauseFx/deliver/blob/cda5025573f3502f40b7159c9430e79442bd053e/lib/deliver/itunes_connect/itunes_connect_reader.rb#L29
For the time being, I changed the line to `return Deliver::App::AppStatus::PENDING_DEVELOPER_RELEASE`

[2015-05-24 08:06] KrauseFx commented on #221
Nice catch, thanks for letting me know, I'll push an update in a minute.

[2015-05-24 08:08] nafu commented on #221
:+1:

[2015-05-24 08:15] KrauseFx commented on #221
@mono0926 @nafu I just pushed https://github.com/KrauseFx/deliver/commit/b9c63dd363c68852c713005e18edfa2745b9b67c, please update using `sudo gem update deliver` and let me know if that resolves the issue :+1:

[2015-05-24 23:59] mono0926 commented on #221
@KrauseFx

I appreciate your quick response :clap:
Unfortunately, my app's status is already changed, so I can't confirm whether the error fixed or not, but it seems well :+1:

[2015-05-25 01:11] nafu commented on #221
@KrauseFx

Thanks a lot.

Me tooXD, but it looks nice.
I'm gonna confirm this when my app status becomes `Pending Developer Release` :+1:

[2015-05-25 07:14] mono0926 commented on #221
Sorry, I forgot to add this line to the issue description: "This kind of error also occurs when the status is Ready for Sale.".

When the app's status is Ready for sale, I executed `sudo gem update deliver`, I got `Cannot update metadata of apps 'Ready for Sale'. You can dupe: http://www.openradar.appspot.com/18263306` error.
https://github.com/KrauseFx/deliver/blob/master/lib/deliver/deliver_proc

[2015-05-25 09:05] KrauseFx commented on #221
@mono0926 Yes, that's unfortunately a [transporter issue](http://www.openradar.appspot.com/18263306), feel free to dupe the radar.

How can I improve the message to make it clear it's an issue of the transporter and that the only way to fix it right now is to duplicate the radar?

[2015-05-25 09:42] mono0926 commented on #221
Thanks, I understood well.
I appreciate your kind support :bow:

[2015-05-25 09:43] KrauseFx commented on #221
Great to hear, thanks again for your feedback :+1:

[2015-05-25 09:43] #221 closed

[2015-05-25 11:00] meyskens opened #222 "Build select failing"
The selection of the App's build seems to fail, here is the error we get:
[code]

[2015-05-25 13:33] vladislive opened #223 "Option "do not upload screenshots" in Deliverfile"
Hello. Is it possible to add this option? Now it deletes all previous screenshots when uploading new version and it isn't necessary for me. Thanks.

[2015-05-25 13:39] vladislive opened #224 "submit_further_information in Deliverfile isn't full"
Tried to check "Serve advertisements within the app" but where is no documentation about it: https://github.com/KrauseFx/deliver/blob/master/Deliverfile.md
It will be nice to have possibility to edit all options under  "Ads ID".
Thanks.

[2015-05-25 14:10] KrauseFx commented on #223
Sorry, it's not possible due to a bug with iTunes Transporter. You can use `deliver init` in a new folder to download all your existing screenshots.

[2015-05-25 14:10] #223 closed

[2015-05-25 14:11] KrauseFx commented on #224
[code]

from `itunes_connect_submission.rb`. As I don't use those options myself I don't have any further information.

[2015-05-25 14:12] KrauseFx commented on #222
Sorry, I want to change `deliver` to use HTTP requests only using the [itc-api-docs](https://github.com/fastlane/itc-api-docs) but haven't found the time for it yet.

[2015-05-25 14:24] vladislive commented on #224
Thanks!

[2015-05-25 14:24] #224 closed

[2015-05-26 14:09] flogehring opened #225 "Unhandled iTC warning"
I transferred an app to a new account and wanted to submit an update for it using `Deliver`.

When uploading the binary, iTC warns about losing keychain-access (within iOS), because the team ID of the app changes.

`Return status of iTunes Transporter was 1:
WARNING ITMS-90076: "Potential Loss of Keychain Access. The previous version of software has an application-identifier value of ['old-teamId.

[2015-05-27 15:31] avanderberg commented on #181
@dpa99c Thanks for the hint. I had the same problem, and using DAV works fine.

[2015-05-28 04:18] gnanaprakash commented on #60
I'm hitting the same issue with latest version of deliver 0.12.0?

[2015-05-28 06:20] alatyshev commented on #118
Is there any update on the issue? I was trying to use proposed workaround with  update_project_code_signing action, but this gives me Error setting value for option 'udid' even, though I see it gets correct value from SIGH_UDID.

[2015-05-28 08:36] KrauseFx commented on #118
Code signing does work. Due to a bug in `xcodebuild` you'll need to set a static provisioning profile in your project settings. You can do so using the `update_project_provisioning` action.

Taken from the [Example MindNode Setup](https://github.com/fastlane/examples/blob/master/MindNode/Fastfile#L17-L40)

In your `Fastfile`:

[code]

This code downloads the latest provisioning profile and sets it

[2015-05-28 08:37] KrauseFx commented on #118
The `build_configuration_filter` defines the target name for which the provisioning profile should be set. It's a standard regex.

[2015-05-28 17:28] ericraio commented on #195
@KrauseFx I get alot of missing elements due to latency from apple.  Is there a way to setup a retry loop until a 30 second timeout? This was a trick used in the protractor framework when finding elements. Every selector returns a promise and the promise resolves when the element is found in the next 30 seconds.

I think this would make selecting elements less brittle.

[2015-05-28 17:49] yoiang commented on #118
@KrauseFx Attempting to use this method update_project_provisioning fails for me with
[code]

[2015-05-28 18:26] robwithhair commented on #195
How about retry with exponential backoff delay (2^x sec + random number of milliseconds) up to a total max number of secs.  Don't know if you're probably doing something similar already.  I think apple's servers have been messed up a lot over the past few days.

[2015-05-29 18:10] KrauseFx commented on #195
@robwithhair `spaceship` automatically re-tries failed requests after a few seconds up to 5 times :+1:

[2015-05-29 21:19] andrewpage opened #226 "No implicit conversion of Hash into String when deploying to TestFlight"
I execute `Deliver::Testflight.upload!("/path/to/my.ipa", "MYAPPID", false)` and I get this error:

[code]

This is calling out an error on [line 18](https://github.com/KrauseFx/deliver/blob/master/lib/deliver/testflight.rb#L18) of testflight.rb. Seems to be an issue with the "colorized" gem.

[2015-05-29 21:20] KrauseFx commented on #226
I assume it works when you're running `deliver` via the command line? It's probably just a missing `require` in `testflight.rb`.

[2015-05-29 21:24] andrewpage commented on #226
Not sure what you mean by that. `testfight.rb` is part of the Deliver gem. Are you saying that I should require that file explicitly in my code?

[2015-05-29 21:30] KrauseFx commented on #226
No, sorry I wasn't clear.

Could you try running `deliver testflight` from the command line and see if that works on your machine?

[2015-05-29 21:33] KrauseFx commented on #226
Hey @andrewpage, I just tried running `irb` entered the same code you used and it worked. I'm trying to reproduce the problem.
Did you also just `require 'deliver'`?

[2015-05-31 07:41] jeroenleenarts opened #227 "Does deliver upload debugging info to iTunes connect (dSYM)?"
Quick question, docs and code don't give me a conclusive answer.

Do debug symbols get uploaded to ITC?

[2015-05-31 15:49] KrauseFx commented on #227
@jeroenleenarts No, they don't. You'll need to take care of uploading them. I usually use 3rd party crash reporters like Crashlytics or Hockey.

[2015-05-31 15:59] Panajev commented on #227
It should be possible and desirable to do so to get automatically symbolicated crash logs from App Store builds (according to the checkbox/message you get when uploading the build manually through Xcode). Is it in your roadmap? Can it be done by deliver?

[web [iPhone msg]]

[2015-06-01 01:38] KrauseFx commented on #227
This feature is not on the roadmap. Feel free to submit a pull request if you have time working on it :+1:

[2015-06-01 09:25] robwithhair commented on #195
That's good.  Should be more able to handle request issues then.  The exponential back-off random ms retry strategy above is what google recommend when requests fail as injecting a little randomness and gradually increasing delay time gives a good balance between speed and allowing server to recover before trying again.

[2015-06-01 09:51] lucaquerella commented on #35
+1, this would be great

[2015-06-01 12:30] jlnr opened #228 "English_Australian vs Australian English"
I've just used `deliver` to download a few screenshots off iTunes Connect that I forgot to archive locally. It worked wonderfully, so thanks for that.

The only issue I had was that the app used en_AU as its only language, and deliver kept saying:

I took a guess and replaced this line in `assets/DeliverLanguageMapping.json`:

...with this:

...and everything worked. Did Apple maybe change some in

[2015-06-01 13:37] KrauseFx commented on #228
Thanks, I'll take a closer look over the next few days :+1:

[2015-06-01 19:58] Froelund opened #229 "`trigger_metadata_upload': Error uploading app metadata (RuntimeError)"
I do not have any ipa-file I want to upload, I just have screenshots and metadata(for now).

My DeliverFile contains these properties
[code]
When I try to deliver, I get the following error:
[code]
Any suggestions?

[2015-06-02 02:47] KrauseFx commented on #229
There was an error with the transporter. Can you post the full output of the transporter? Did you use the new `deliver upload_metadata` command?

[2015-06-02 04:39] Froelund commented on #229
Thanks for the quick response. No I did not.
I'll try it.

[2015-06-02 12:19] Froelund commented on #229
Didn't work with that either.
Here's the output.
[code]

[2015-06-03 02:23] KrauseFx commented on #229
This error is probably related to your internet connection:
[code]

Do you have a firewall? Can you try again using a different internet connection?

[2015-06-03 13:34] artem-alexandrov commented on #229
I have the same issue, here is my errors:

[code]

I have a router in my network and i've set up a DMZ for my computer... it should work but it doesn't.

[2015-06-03 22:22] samueltbrown commented on #229
As of Monday June 1 I am experiencing the same issue and my previously uploaded builds are no longer visible in iTunes connect.  Output from running deliver on Travis CI (previously working):

Command:
[code]

[code]

[2015-06-04 11:03] csknns opened #230 "minor typo in Readme"
Minor typo in section TestFlight of the Readme  ```auotmatically``` should be ```automatically```

[2015-06-04 11:37] KrauseFx commented on #230
Thanks :+1:

[2015-06-04 11:37] #230 closed

[2015-06-04 13:54] samueltbrown commented on #229
Update: At least my prerelease versions are now showing up on iTunes Connect.  My application is able to be uploaded via deliver but the beta flag and data don't seem to be working due to the error above.  Did Apple shut off some of their transporter servers?

[2015-06-06 15:23] Froelund commented on #229
Update: It was in fact a problem with my internet connection. I'm using VyprVPN, and when I disconnected from that, everything went smooth. Thanks for the help @KrauseFx !

[2015-06-06 15:23] #229 closed

[2015-06-06 15:36] KrauseFx commented on #229
@Froelund: Great to hear :+1:

[2015-06-07 05:54] KrauseFx commented on #228
Thanks again for reporting, I pushed a fix, but couldn't try it. Can you download the latest version by downloading this repo as zip and running `sudo bundle install && sudo rake install`?

I pushed this fix https://github.com/KrauseFx/deliver/commit/f0e58ac190e062d454b12a409d36eb5fb46cc958.

Thanks :+1:

[2015-06-07 05:57] KrauseFx commented on #118
@yoiang The easiest and most straight forward way is to update your project settings to define the provisioning profile to use.

[2015-06-07 10:59] jlnr commented on #228
Thanks, this fixed the issue for me!

[2015-06-07 10:59] #228 closed

[2015-06-08 10:26] ConfusedVorlon opened #232 "--deliverfile option?"
is there a way to call deliver with a deliverfile option?
I have one project with targets that build to three apps. I'd like to be able to write

  deliver --deliverfile ./deliver/deliverfile-paid

snapshot has this, but I can't find it for deliver.

thanks.

[2015-06-08 12:34] ConfusedVorlon opened #233 "document (and expand) default_language"
looking at the code, I _think_ that default language just says
'if you provide a value, and not a hash for keywords, then we'll use that value for your default language, and all other languages will be null'

the behaviour I _expected_ was
'if you don't provide a value for a given language, and you are uploading some stuff for that language, then we'll use the value from your default_language'.

e

[2015-06-09 03:49] simX opened #234 "Can't update release notes when app status is "Pending Developer Release""
I have an App Store update that is in Pending Developer Release state, which allows only certain fields to be edited.  I also upload iTunes Connect screenshots via deliver before app approval.

I'm trying to deliver just updated release notes while we're Pending Developer Release (which CAN be edited in this state), but deliver fails when trying to update the screenshots (which CANNOT be edited in

[2015-06-10 07:26] tucow opened #235 "[Transporter Error Output]: Could not start delivery: all transports failed diagnostics"
Hey guys,

I'm getting a strange error message from deliver, I never used it before and did a fresh install. I'm not using a DeliverFile, just the command (deliver testflight -u xxx@xxx.xxx -a xxxxxxxxx) you see in the Screenshot attached:
![deliver_bug](https://cloud.githubusercontent.com/assets/843830/8077009/356e42ea-0f52-11e5-95e0-195b13c65ddf.png)

Any ideas, suggestions? I don't know why it

[2015-06-10 15:14] nixiphonecibuilder commented on #227
I haven't found an option to submit dSYM to ITC. Could you please help finding it?

[2015-06-10 16:13] ben-lings-tessella opened #236 "If app isn't available on US app store, changelog doesn't get uploaded"
I'm submitting an update to an app that's only on the France app store. When I upload the metadata with deliver, I get the message

Looking at the [source code](https://github.com/KrauseFx/deliver/blob/master/lib/deliver/app_metadata.rb#L149-L155), it seems like it relies on the app appearing in the iTunes search (which uses the US store `https://itunes.apple.com/lookup?id=` URL) to make this deci

[2015-06-10 17:58] KrauseFx commented on #236
Sorry, not right now. Are you using the `deliver testflight` command?

[2015-06-10 18:01] KrauseFx commented on #235
That's a problem with your internet connection probably, could you try running it with a different connection? Also, do you have VPN and firewalls disabled?

[2015-06-10 18:01] KrauseFx commented on #227
@nixiphonecibuilder This option is not implemented and is not available.

[2015-06-10 18:24] artem-alexandrov commented on #227
You was talking about ITC right?

[2015-06-11 04:44] KrauseFx commented on #234
Unfortunately that's a bug in the iTunes Transporter. You can duplicate this radar: http://www.openradar.appspot.com/18263306.

Right now, there is nothing I can do :disappointed:

[2015-06-11 04:44] #234 closed

[2015-06-11 04:46] KrauseFx commented on #232
That option is not available. If you use `fastlane` you can however specify the path containing the `Deliverfile` using `deliver_file_path`.

[2015-06-11 04:47] KrauseFx commented on #233
Thanks for letting me know :+1:

[2015-06-11 06:53] ben-lings-tessella commented on #236
I'm using Deliver with Faslane to upload metadata for app store release. It's version 3.0 of the app, but the app is only available in France, so doesn't show up in the US store search (`https://itunes.apple.com/lookup?id=`). It does appear in the France store search though (`https://itunes.apple.com/fr/lookup?id=`).

[2015-06-11 12:04] KrauseFx commented on #236
That's an issue I need to resolve.

[code]

it should fall back to the iTunes Connect JSON API to fetch this information.

[2015-06-11 12:30] ben-lings-tessella commented on #236
Thanks! :smile:

[2015-06-11 14:30] michalkalinowski- commented on #235
Hello,
I'm in a similar situation: I'm behind a firewall, but in settings of Application Loader I have disabled Signiant and Aspera protocols so that Application Loader uses only DAV protocol.

Now, when I upload an ipa directly from xcode (using Application loader I guess, that uses iTunes Transporter) everything works fine.

When I try to use deliver

``` deliver testflight <path to ipa> ```

I'

[2015-06-12 04:45] KrauseFx commented on #235
@michalkalinowski- you can try
[code]

from https://github.com/KrauseFx/deliver/issues/181

[2015-06-12 05:19] KrauseFx commented on #236
@ben-lings-tessella the latest release temporarily fixes this issue :+1:

[2015-06-12 06:54] michalkalinowski- commented on #235
Thanks, that solved the issue!

[2015-06-12 07:13] #235 closed

[2015-06-12 07:23] tucow commented on #235
Thanks for the replies, I was busy so I couldn't answer.
I will test this in my environment too, but where should I put the Param? Do I need to create a Deliver File for this?

[2015-06-12 07:28] besi opened #237 "DELIVER_WHAT_TO_TEST does not show up in iTunes Connect"
In my Build I use the following post-archive script to upload my build to Testflight after a successful Xcode server integration:

IPA_PATH="${XCS_OUTPUT_DIR}/${XCS_BOT_NAME}.ipa"
HOME=/Library/Developer/XcodeServer/Integrations/Caches/

[code]

However, when I sign in to iTunes connect, the "What to test" section remains empty:

![screenshot](https://cloud.githubusercontent.com/assets/160412/8125

[2015-06-12 07:32] KrauseFx commented on #235
@tucow You can use

[code]

[2015-06-12 07:34] KrauseFx commented on #237
I think it's just the syntax being wrong.

[code]

[2015-06-12 07:38] besi commented on #237
That was quick. According to this post this should work too:
http://stackoverflow.com/a/10858401/784318

I have seen this syntax a in conjunction with Ruby on Rails:

    RAILS_ENV=production rake db:migrate

I did just update deliver to 0.12.1 and will retry with the new version. If that does not work I will use export instead.

[2015-06-12 07:59] besi commented on #237
I am trying `export` now. Is there a reason what `DELIVER_WHAT_TO_TEST` is not part of the delivery file?

[2015-06-12 08:28] tucow commented on #235
Thank you, will try it with the new app update later. To test other protocols, is it possibile to just pass them instead of DAV? Like:
[code]

[2015-06-12 18:17] KrauseFx commented on #235
Yes! :+1:

[2015-06-13 03:30] bryanchacosky commented on #118
@KrauseFx I ran into the same problem as @yoiang . I believe `update_project_provisioning` simply has a bug in the implementation. And unfortunately my build process includes regenerating the xcode project each time so changing a project setting manually isn't an option.

I solved the problem in my build process by replicating what `update_project_provisioning` is doing, and passing the extra buil

[2015-06-13 11:58] KrauseFx commented on #237
Yes, putting the command in the same line as the command works, but as soon as you have multiple lines, you need the `export` keyword.

Are you using the latest version of `deliver`?

[2015-06-15 09:59] balagod opened #238 "After successful app upload distribution socket error in Jenkins"
After my App got uploaded into test flight. getting below error makes Jenkins job failed.
[code]

[2015-06-15 12:30] KrauseFx commented on #238
Seems like it's a simple internet connection error. Can you try submitting again using a different internet connection with no firewall?

[2015-06-16 07:48] besi commented on #237
Yes I am using deliver v0.12.1.
I am still not further with the issue. I added some dummy text "`TODO`" to see if this gets uploaded (Something could be wrong with loading my Markdown file):

[code]

[2015-06-17 04:40] balagod commented on #238
I tried without firewall result will be. i did not have any proxy . but why deliver try to setup proxy.
[code]

[2015-06-17 05:21] KrauseFx commented on #238
You are using an outdated version of `deliver` too. I don't setup a proxy myself, the used networking library does.

[2015-06-17 12:49] ben-lings-tessella commented on #150
I've seen this happen where deliver interprets one of the failures-with-automatic-retry that iTMSTransporter does as an overall failure. Possibly related is that the times I've seen this has been when building and uploading with Xcode 6.2, which has an older version of iTMSTransporter to Xcode 6.3. Some of the log output is different between the versions.

[2015-06-17 20:04] Err0r-500 opened #240 "skip interaction for deliver init (or download_screenshots)"
Hello,
Is there a way to call deliver init or deliver download_screenshots without any interaction? I'm able to build and submit an app update from script but I'm still having trouble retrieving the metadatas and the screenshots...
I've no clue to skip it for the init but i guess _download_screenshots is enough if I don't want to modify the metadatas for the update...
So I tried
DELIVER_USER="myUs

[2015-06-18 04:14] KrauseFx commented on #240
There is no environment variable `APP_IDENTIFIER`, where do you have it from?

[2015-06-18 06:45] Err0r-500 commented on #240
That's what i asked myself when i saw it was ignored! It was after a few hours of work, so maybe i just imagined it because I wanted it to exist... :) (and i'm not able to find anything this morning) i'll check if i can edit my previous post so it's not indexed by a search engine.

[2015-06-18 06:50] KrauseFx commented on #240
You can add
[code]
to your `Deliverfile` :+1:

[2015-06-18 08:02] Err0r-500 commented on #240
Sadly it has no effect in my case.
In fact, the app_identifier was already set in the Deliverfile but it doesn't seem to be took into account when used with download_screenshots

[2015-06-18 15:20] ericertl opened #241 "IPA uploaded but failed to select it"
Hi Felix. Looks like deliver is uploading the ipa correctly, but it fails to find the build button to select it.
No a big issue, but you might want to be aware of it.

[12:04:29]: ------------------------------------------------------------------------------------------------------
[12:04:29]: Successfully uploaded package to iTunesConnect. It might take a few minutes until it's visible online.
[1

[2015-06-18 18:54] owurman commented on #64
Thanks for that update. I hit the same issue so updated deliver to 0.12.1, but then I hit this:

[11:48:13]: There is already a new version created, which does not match the current version: ''
[11:48:13]: Changed the version number of the latest version to ''

Note that those are two single quotes, not one double quote.

I'm not explicitly defining the version number since I'm using fastlane ("fa

[2015-06-18 21:09] owurman commented on #64
The issue is this line in def pre_load_default_values:

@app_version ||= ENV["DELIVER_VERSION"]

It looks like it doesn't exist in the development branch, so I guess it might already be fixed. I'm just commenting it out in my copy.

[2015-06-19 15:49] devenvexe opened #242 "Metadata won't update for version under review"
I submitted metadata updates via deliver and they don't seem to take. I waited about 20 minutes after submission for this. Is this supported? Thanks!

[2015-06-20 04:51] KrauseFx commented on #242
Can you share the complete output when running `deliver`? You could try [switching the server](https://github.com/KrauseFx/deliver#firewall-issues).

[2015-06-20 06:42] lyahdav commented on #118
FWIW I resolved this issue with https://github.com/KrauseFx/deliver/issues/118#issuecomment-97375854.

[2015-06-22 07:35] frranck commented on #118
I had the same problem, not using fastlane but ipa build + deliver. I followed @KrauseFx tip to specify the provisioning profile in Build Settings/Code signing and it worked. :)

[2015-06-22 08:09] Francescu opened #243 "App won't upload to iTunesConnect anymore"
Using `deliver testflight <ipa>` I can't upload it anymore:

[code]

![error1434959926](https://cloud.githubusercontent.com/assets/1433362/8277813/a7265ac6-18c6-11e5-8a41-b1caaf354ca9.png)

[2015-06-22 09:23] KrauseFx commented on #243
Does it happen every time you use `deliver`?

[2015-06-22 09:59] Francescu commented on #243
Yes every time, I can't use `deliver` at all anymore. (We use it as a part of our CI processes)

[2015-06-22 10:17] Francescu commented on #243
I will try with different apps to see.

[2015-06-22 11:39] balagod commented on #238
I upgraded to deliver -0.12.1. it works now. Thanks for your Support.
[code]

[2015-06-22 11:39] #238 closed

[2015-06-22 14:01] KrauseFx commented on #238
Great to hear :+1:

[2015-06-23 04:18] kbyford commented on #237
besi,

You might try something like the following which works well with multiple lines since it's base64 encoded  and should keep the original formatting of your WhatToTest.md file when decoded:

    VAR1=$(base64 -i ${XCS_SOURCE_DIR}/Deploy/WhatToTest.md)
    VAR2=$(echo $FILE1 | base64 -D)
    export DELIVER_WHAT_TO_TEST="$FILE2"

[2015-06-23 07:43] mcactive commented on #243
I have had the same problem.. Sometimes it works, but sometimes it doesn't..
There isn't really a pattern, seems random.. Had to try 5 times today, 4 didn't work and the last one worked..

[2015-06-23 08:29] mcactive opened #244 "CFBundleVersion mismatch after increment.."
I'm trying to increment my build_number and version number of the app, with the following statements:

[code]

The new version number is 4.0.0.

But increment_build_number changes CFBundleVersion and increment_version_number changes CFBundleShortVersionString.

This gives the following error when uploading to iTunes Connect:

[code]

Makes sense since the version has to be 4.0.0 instead of 2015.06

[2015-06-23 18:30] mcactive commented on #244
I was able to find a workaround for this problem, by setting the version in the Deliverfile, but I guess this isn't the correct way of setting it up :-)

[2015-06-24 20:30] appcoders commented on #227
The only thing thats needed is a additional folder in the IPA file called "Symbols" which contains extracted information from the dSYM files. Only problem - I did not find any parameter for xcodebuild to create such an archive.

[2015-06-25 01:17] devenvexe commented on #242
Thanks so much for reaching out. I'll share the next time I do an upload.

On Sat, Jun 20, 2015 at 12:51 AM, Felix Krause <notifications@github.com>
wrote:

[2015-06-25 06:52] frranck opened #245 "Error uploading app metadata"
Hello,
I have this error:

[code]
How to troubleshoot that ?

[2015-06-25 06:53] frranck opened #246 "Error uploading app metadata"
Hello,
I have this error:

[08:50:02]: Transporter transfer failed.
[08:50:02]:
[08:50:02]:
[08:50:02]: Return status of iTunes Transporter was 1:
[08:50:02]: Return status of iTunes Transporter was 1:
/Library/Ruby/Gems/2.0.0/gems/deliver-0.12.1/lib/deliver/deliver_process.rb:353:in `trigger_metadata_upload': Error uploading app metadata (RuntimeError)
	from /Library/Ruby/Gems/2.0.0/gems/deliver-

[2015-06-25 06:54] frranck commented on #246
duplicate

[2015-06-25 06:54] #246 closed

[2015-06-25 07:06] KrauseFx commented on #245
Please share the complete transporter output to get information about why the transporter failed.

[2015-06-25 07:11] frranck commented on #245
[08:40:04]: [Transporter]: INFO: Transporter is skipping bundle update check: Already checked recently.
[08:40:05]: [Transporter]: INFO: Logging configured successfully.
[08:40:05]: [Transporter]: DEBUG: Attempting refresh of configuration data from https://contentdelivery.itunes.apple.com/transporter/Defaults.properties
[08:40:05]: [Transporter]: DEBUG: Configuration refresh successful.
[08:40:05

[2015-06-25 07:37] KrauseFx commented on #245
[code]

Looks like there are issues with your internet connection or firewall. You could try the [following](https://github.com/KrauseFx/deliver#firewall-issues).

[2015-06-25 14:44] Francescu commented on #243
I found a workaround by specifying app id with `-a` option

[2015-06-25 16:36] ericertl opened #247 "Support App Pricing in deliver"
Hi Felix.

Would it be too hard to check if an app has at least 1 pricing option as the first thing you do?

Right now when I don't have one deliver crashes in the middle of uploading stuff and would be great if deliver let me know of this issue earlier.

Thanks man

[2015-06-27 02:31] owurman commented on #159
If it can't be auto-detected, perhaps add an option to deliver to skip updating what's new?

[2015-06-27 03:53] owurman commented on #153
Did any of you ever figure this out? I'm having the same issue with a new app... it's affecting, apparently, all the fields that are populated by the metadata files (description, keywords, privacy url, support url, and software url). I'm using Deliver 0.12.1

[2015-06-27 10:51] mortenholmgaard commented on #159
I have this problem as well - I vote for @owurman solution if it can't be auto-detected.

[2015-06-27 17:10] owurman commented on #153
It worked for me the next morning. The only difference I can think of is that I wasn't logged into ITC on Safari at the time.

[2015-06-27 20:45] gfpacheco commented on #159
To the ones having the same problem, I solved wrapping the changelog call inside a simple if:
My `Deliverfile`:

    if app['version'] != '1.0'
      changelog(
        'en-US' => '...'
      )
    end

[2015-06-27 21:13] gfpacheco commented on #195
I'm facing this problem, but I think just retry failed requests isn't enough. I think my problem is slow connection: the request didn't failed yet, but isn't complete either. Can this be the cause of the error?

[2015-06-27 23:50] KrauseFx commented on #159
I solved this problem already by using the iTunes Search API to detect if the app is already available. Unfortunately, this caused issues with apps that are not available for download in the US App Store.

[2015-06-27 23:58] owurman commented on #159
That also wouldn't work for apps that are distributed via VPP. Is it possible to just make it non-fatal?

[2015-06-27 23:59] owurman commented on #159
Here's another thought--when accessing iTC, can't we tell whether there are two versions? I think if there are two versions then it's published, but if there's only one then it's not?

[2015-06-28 11:16] frranck commented on #245
I suppose it was a temporary issue on my network. but that's very confusing error messages, that would be great to have a "connection test"...

[2015-06-28 11:16] #245 closed

[2015-06-28 17:48] KrauseFx commented on #245
Yes, agreed.

[2015-06-28 19:03] KrauseFx commented on #243
Sorry about the troubles, `deliver` will soon be upgraded to use `spaceship` for communicating with iTunes Connect.

[2015-06-29 08:46] mRs- commented on #79
that's sad :(

[2015-06-29 16:55] KrauseFx commented on #247
This makes sense :+1: Maybe I can work on this once I'm migrating `deliver` to use `spaceship`

[2015-06-29 16:56] KrauseFx commented on #217
I'll close this issue for now

[2015-06-29 16:56] #217 closed

[2015-06-30 09:17] mcactive opened #252 "Error on putting build in production.."
Got the following error when the IPA has been uploaded and processed and fastlane tries to put the app in production..

In iTunes connect in can add and submit the app manually without problems.

[code]

[2015-06-30 09:44] besi commented on #237
It turned out my path was wrong and I have to add the suffix of my project name to the `XCS_SOURCE_DIR` variable (which seems a bit weird):

    export DELIVER_WHAT_TO_TEST="`cat ${XCS_SOURCE_DIR}/MyProject/Deploy/WhatToTest.md`"

[2015-06-30 09:44] #237 closed

[2015-06-30 09:57] KrauseFx commented on #252
I'm currently working on this, thanks for reporting the issue :+1:

[2015-06-30 18:53] walsht opened #253 "Unable to deliver framed and unframed screenshots"
I found that if I use frameit to frame my en-US screenshots and not use it for my cmn-Hans screenshots that only my en-US screenshots get delivered.  However, if I add _framed to the end of the cmn-Hans screenshot it is delivered.

Is that by design?

[2015-06-30 18:57] KrauseFx commented on #253
Yes, but I guess that should be documented or at least shown in the output. The thought was: if you framed the screenshots you'll only want to use those and not unframed ones.

What do you think?

[2015-06-30 19:00] walsht commented on #253
If the process could be smarter to first check each language folder to see if there are images with frames, if not use the images without frames.

Possible?

[2015-06-30 19:09] mcactive commented on #243
Any idea when?

Op 28 jun. 2015, om 21:03 heeft Felix Krause <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

Sorry about the troubles, deliver will soon be upgraded to use spaceship for communicating with iTunes Connect.

—
Reply to this email directly or view it on GitHub<https://github.com/KrauseFx/deliver/issues/243#issuecomment-116314367>.

[2015-06-30 19:11] KrauseFx commented on #243
I'm working on it right now @mcactive.

[2015-06-30 19:11] KrauseFx commented on #253
Yes, should be possible.

[2015-07-01 08:11] dral3x opened #254 "Empty version number"
This morning I try to upload a new app and my fastlane (produce, deliver + slack) failed because the app version was not specified.

Maybe something is broken in the new version (I updated all gems this morning).
[code]

Full log
[code]

Fastfile
[code]

Deliverfile
[code]

.env
[code]

[2015-07-01 16:34] gfpacheco opened #255 "Invite testers for a brand new app"
If I'm right there's no such feature today. All I can see is that deliver enables TestFlight, but I still have to invite the testers manually.

[2015-07-01 20:43] gfpacheco commented on #191
This still hasn't been fixed, right? I'm facing the same issue here. And the worst part is that the button to cancel the review (so I can submit the new one) doesn't appear anywhere! Not in the app versions page, not in the build details page. I already opened two tickets with Apple to get help with it, still unresponded.

[2015-07-02 13:25] KrauseFx commented on #255
Yes, `deliver` will only upload your build and distribute it to testers, it's not responsible for managing the beta testers. I'm working on a new tool that will be able to do that. (this will be integrated into [spaceship](https://spaceship.airforce)

[2015-07-02 13:25] KrauseFx commented on #255
I'll close this issue for now, as it's not part of `deliver`.

[2015-07-02 13:25] #255 closed

[2015-07-02 14:54] besi opened #256 "Can't upload App to iTunesConnect due to Invalid Swift Support"
I have successfully uploaded my iOS builds using `deliver` in the past using an Xcode Server Bot.

Now for some reasons which are not (yet) clear to me. The uploading process to Testflight fails and I get an Email from Apple, which tells me that I am using a wrong swift framework (See the email below)

I am using the latest deliver version `0.12.1` plus I did just update Xcode from version **6.3.2

[2015-07-02 18:02] gregpassmore opened #258 "Point to a different metadata folder?"
Rather than override each metadata object per locale and per field, can we just point to a specific metadata folder at runtime? Or does it have to be called ./metadata ? We are trying to make our build process dynamic for multiple apps and want to change the least amount of variables possible.

[2015-07-02 20:49] KrauseFx commented on #258
`deliver` will only look for metadata in the `./metadata` folder. You can however easily implement a more dynamic configuration inside your `Deliverfile`. Something like `title JSON.parse(File.read("./myfile.json"))`

[2015-07-02 21:38] gregpassmore commented on #258
What we are doing instead is using multiple Deliverfiles, one per project, and then we get the relative metadata folder. This seems to work for now.

[2015-07-03 08:02] KrauseFx commented on #256
Was the binary built using Xcode bots or the `ipa` action?

[2015-07-03 09:56] besi commented on #256
It was build with the Xcode Bot.

[2015-07-03 10:00] KrauseFx commented on #256
You could try building using the `ipa` action, which should fix the WatchKit error message.

[2015-07-03 10:15] besi commented on #256
I will give this a try, the issue is quite tedious and prevents me from building my app. Thank you for your help.

Even though in this case it is clear that the app does not get submitted, maybe deliver could output a nice error message in such cases, informing the user, that the build did not get through to iTunesConnect.

[2015-07-03 11:06] KrauseFx commented on #256
It's actually 2 different issues you ran into. The first one is the invalid binary. The second one is the submission error. The submission error will be fixed with the upgrade to use [spaceship](https://spaceship.airforce), which will happen within the next weeks.

[2015-07-03 12:52] besi commented on #256
Thanks for clarifying

[2015-07-03 16:12] besi commented on #256
I am now using fastlane and build the ipa with the included action. However, now when I try to execute `fastlane beta` on my build server I get an error:

[code]

[2015-07-03 16:28] besi commented on #256
Since this might be related to signing I tried to execute the `sigh` command but this fails too:

[code]

I am pretty sure that my credentials are correct.
When I clear `DELIVER_USER` and `DELIVER_PASSWORD` I get prompted for my password but this then also fails:

[code]

[2015-07-03 19:33] mortenholmgaard opened #260 "Version number of not published app is not updated"
Version number of not published app is not updated.
E.g. I would like the version number to be 1.0.0 of the first version.
I don't know if it should be deliver or produce that should update this.

[2015-07-03 21:13] KrauseFx commented on #260
So if you specify the `app_version` in your `Deliverfile`, it won't get updated on iTunes Connect?

[2015-07-04 03:49] hiltonc commented on #193
+1 I use a third-party crash reporter also, but this is the only way to capture crash reports where the app won't even open anymore.

[2015-07-04 07:39] mortenholmgaard commented on #260
I have `version` but not `app_version`.
I tried it and get: `Could not find method 'app_version'.`
There is nothing about `app_version` in the documentation either.

[2015-07-04 09:05] KrauseFx commented on #260
Sorry, I meant `version`, yes. This part of `deliver` will be updated soon to use [spaceship](https://spaceship.airforce).

[2015-07-04 09:10] mortenholmgaard commented on #260
Okay :+1:  - just remember this case then

[2015-07-06 15:47] KrauseFx commented on #254
Have you tried specifying the `version` in your `Deliverfile`?

[2015-07-06 15:52] dral3x commented on #254
With that, I resolved. But before the update, the version number was taken
automatically from the ipa (as it should do also now) but it does not
On Jul 6, 2015 5:47 PM, "Felix Krause" <notifications@github.com> wrote:

[2015-07-06 15:57] KrauseFx commented on #254
That's odd, did you change anything on your side?

That's code `deliver` uses:
[code]

[2015-07-06 17:32] dral3x commented on #254
No. The app is build the same way. The script is always the same. I just
updated fastlane (and other gems) to try to fix an issue that was related
to iTunes connect (it was rejecting the app metadata).
After 4 hours, the app has been accepted but I had to put version
information inside deliver file.

No more clue.

Il lunedì 6 luglio 2015, Felix Krause <notifications@github.com> ha scritto:

--
Al

[2015-07-07 00:57] mthole commented on #198
@kerrmarin Did you happen to get anywhere with this? I'm interested as well.

[2015-07-07 07:05] KrauseFx commented on #198
Forgot to update this issue, take a look at https://github.com/fastlane/spaceship/pull/61 by @mathcarignani

[2015-07-07 09:52] kerrmarin commented on #198
Apologies, I haven't had a chance to work on this, but https://github.com/fastlane/spaceship/pull/61 looks promising!

[2015-07-08 08:47] frranck opened #261 "can't upload + build blocked in "Created" status"
Hello,
since yesterday i'm getting some error in deliver:

[code]

Then the build stays in "Created" status in itunesconnect

[2015-07-08 11:47] mRs- opened #262 "Error uploading binary - Transporter Error"
We have a customer with his own iTunes Connect Account and of course some other user credentials too.

So we try to upload the app via deliver and try to set the password at the moment directly via jenkins

**deliver command:**

    deliver(skip_deploy: true, force: true, beta: true)

**Deliverfile**

    ENV["DELIVER_USER"] = ENV["DELIVER_USER"] ? ENV["DELIVER_USER"] : "standardUser"
    ENV["DEL

[2015-07-08 11:55] KrauseFx commented on #262
Is that the complete output when running it?

[2015-07-08 11:57] mRs- commented on #262
yep :(

[2015-07-08 12:24] KrauseFx commented on #262
Can you try running `deliver` instead of `deliver testflight`? You should get more information then

[2015-07-08 13:26] mRs- commented on #262
ok got it, it was a problem in my password using jenkins

[2015-07-08 13:26] #262 closed

[2015-07-09 16:19] kani-rifluxyss opened #263 "Is it possible to upload ONLY the ipa?"
I do not need to update the meta details and screenshots, is there a way to tell "deliver" to upload only the ipa file and leave everything untouched?

Also I am fine with updating meta and screenshots manually when needed. I do not want to init this and download this for all apps. I use single source for building many apps so keeping .metadata does not help within the same folder.

Thanks!

[2015-07-09 18:20] KrauseFx commented on #263
Yes it is, you can use
[code]

[2015-07-11 09:46] KrauseFx opened #264 "upload_metadata still verifies the ipa file"

[2015-07-11 09:46] KrauseFx commented on #264
[code]

[2015-07-11 17:52] KrauseFx commented on #227
I need this feature now too. I already contacted Apple asking if there is a way to upload the `dsym` file using Transporter. Let's see if I get something back.

[2015-07-11 19:11] appcoders commented on #227
Hi Felix,
Have a look at the bottom of
http://faq.sealedabstract.com/xcodeCI/

I managed to upload a IPA with a Symbols directory in the root containing
the symbols I created from
all contained app binaries.

Kind regards,
Markus

Felix Krause <notifications@github.com> schrieb am Sa., 11. Juli 2015 um
19:52:

[2015-07-11 19:24] KrauseFx commented on #227
@appcoders looks interesting. I can see how to create a `.symbols` file, but I couldn't find how to upload it to iTunes Connect.

[2015-07-12 22:29] Ahti commented on #227
@KrauseFx if I am not mistaken the other commenters are referring to adding a Symbols directory into the root of the IPA in which you upload the application.

I just tried exporting an IPA from Xcode and it contained a Symbols directory with two `.symbols` files in it. I have not yet tried uploading that to iTunes Connect to see wether it recognises the symbols, but this might not be a job for del

[2015-07-13 01:58] antonkarev opened #265 "Update live description"
Deliver always updates new version's metadata. It will be great to be able to update existing version's description, because ITC website allows it.

Is it possible to update current live version's description in Deliver?

[2015-07-13 06:00] jonnyijapan commented on #211
Just an update to tell that I succeeded to upload IAP screenshots using Application Loader, when I finally got around to submit the app. I was able to drag-and-drop the images into image area for each IAP item inside Application Loader. It uploaded all to iTunes Connect. It works, it just takes a while for the upload to reflect itself unto iTunes Connect. I waited for like 10 minutes before the IA

[2015-07-13 06:37] KrauseFx commented on #265
This will be possible with `spaceship` directly soon. You can follow the progress at https://github.com/fastlane/spaceship/pull/58 and already give it a try :+1:

[2015-07-13 06:37] #265 closed

[2015-07-13 11:42] appcoders commented on #227
Regarding the IPA bundle:
https://devforums.apple.com/message/1120211#1120211

You need to upload the IPA created this way.

Lukas is right - deliver should be able to upload this IPA as any IPA
before.

CSS IT Consulting
Dipl.Inf. (FH) Markus Schicker
Westendstr. 25
83301 Traunreut

Tel 08669 901024 ■ Fax 08669 1203069
Mobil 0151 229 46 922
Mail M.Schicker@cssitconsulting.de

2015-07-13 0:29 GMT+

[2015-07-13 12:49] antonkarev commented on #265
Great!

[2015-07-13 14:34] KrauseFx commented on #227
Okay, that's really interesting. So basically that should be part of the `ipa` action of `fastlane` where you can define whether you want to include symbols or not :+1:

[2015-07-13 17:35] gfpacheco opened #266 "Broken pipe"
I have a fastlane project set up and it was working fine until last week.
Today I was prompted to update fastlane, after that the deliver action is always saying it couldn't find Apple ID and when I tell the number it crashes with the folowing error:

    [14:13:55]: ---------------------
    [14:13:55]: --- Step: deliver ---
    [14:13:55]: ---------------------
    [14:13:56]: Skipping submissio

[2015-07-13 19:46] appcoders commented on #227
Yes indeed :-)

CSS IT Consulting
Dipl.Inf. (FH) Markus Schicker
Westendstr. 25
83301 Traunreut

Tel 08669 901024 ■ Fax 08669 1203069
Mobil 0151 229 46 922
Mail M.Schicker@cssitconsulting.de

2015-07-13 16:34 GMT+02:00 Felix Krause <notifications@github.com>:

[2015-07-14 06:54] prsolucoes opened #267 "How to specify the target do build IPA and upload the IPA?"
I read the README file and dont find a way to specify the target do build IPA and upload the IPA?

[2015-07-14 10:24] KrauseFx commented on #267
You should probably use [fastlane](https://github.com/krausefx/fastlane) in combination with `deliver`. Also check out the example setups: https://github.com/fastlane/examples :+1:

[2015-07-14 11:23] mcactive opened #268 "App Status '' not yet implemented"
The App is "Ready for Sale" but displays an error..

[code]

[code]

[2015-07-14 14:14] mcactive opened #269 "No Screenshots Found"
Hi,

We're not using Snapshot nor Frameit for our screenshots, but we DO want to upload them to the appstore..

I've put all the screenshots in fastlane/screenshots/en-US/. The default language is en-US.
The Deliverfile has the following reference to this directory:
screenshots_path "./screenshots/"

If I change it to a non-existing directory it gives an error:
[16:12:25]: No screenshots found at

[2015-07-14 14:39] mcactive commented on #269
Fixed, was looking for _framed.png because of an old framefile.json :-)

[2015-07-14 14:39] #269 closed

[2015-07-14 14:49] KrauseFx commented on #268
This will be fixed with the new version of `spaceship`, I'll close this issue for now :+1: Thanks for letting me know.

[2015-07-14 14:49] #268 closed

[2015-07-14 22:22] KrauseFx commented on #266
That seems to be an internet connection error. Can you try running it from a different connection?

[2015-07-14 23:01] gfpacheco commented on #266
I tried a few times without success. When I left the deliver step alone it worked. Gonna try again tomorrow, thanks.

[2015-07-15 14:09] gfpacheco commented on #266
The error changed, it now can find the Apple ID but fails with the same `Connection reset by peer` error as https://github.com/fastlane/PEM/issues/58. It's just so weird that it only happens when I run the complete lane, but doesn't if I run only the desired action.

[2015-07-15 14:21] skywinder opened #271 "Feature request --skip-upload"
It would be nice to have option to submit app without uploading build.  Like `deliver --skip-upload` or `deliver submit` to continue submission after running `deliver --skip-deploy`

i.e.
`deliver --skip-deploy && deliver --skip-upload` == `deliver`

[2015-07-15 15:14] milch commented on #266
I had a similar issue where `cert` stopped working when run in a complete lane, but worked fine by itself. The issue resolved itself after some time, so I didn't get to do any more debugging.

Alternatively, you could try setting up a fresh `ruby`, see if maybe one of your other gems causes those problems:
[code]

After that, run `fastlane` again and see if the problem persists.

[2015-07-16 06:34] nklausni commented on #266
I also got the problem of gfpacheco. Also with "Connection reset by peer" error.

It only happens when running it as a complete lane.

[2015-07-16 06:56] KrauseFx commented on #271
You mean `deliver --help`:
[code]

[2015-07-16 07:01] skywinder commented on #271
Will you accept PR with this feature?

[2015-07-16 07:22] KrauseFx commented on #266
@nklausni Did you try following the great guide by @milch?

[2015-07-16 07:23] KrauseFx commented on #271
@skywinder Not sure right now, as I'm currently in the process of migrating `deliver` to use `spaceship` with https://github.com/KrauseFx/deliver/pull/259 and https://github.com/fastlane/spaceship/pull/65. Better wait until this is finished :+1:

[2015-07-16 09:53] skywinder commented on #271
:+1: great news anyway. Will wait for it!

[2015-07-16 14:08] gfpacheco commented on #266
I tried, no luck with a fresh install of Ruby (I used RVM for doing so). Still getting `Connection reset by peer`

[2015-07-16 22:13] #267 closed

[2015-07-17 09:38] nklausni commented on #266
@KrauseFx i followed all the steps from this guide but it didn't helped me out. Same problem

[code]

[2015-07-17 15:02] skywinder opened #272 "Error, when try to upload new version"
Deliver should update iTunes Connect version according ipa's version.

But in case, when you already create new Prerelease version in iTunes Connect and already choose a build in Build section deliver got a error:

[code]

Even if it's not possible to delete build and update version - It should be nice to detect such case and warn user about this situation.

[2015-07-17 15:27] skywinder opened #273 "IDFA support doesn't work"
I try to use feature, thaat implemented in #63 by @OlKir

Here is a related to submition part of my deliverfile:

[code]

here is a log:

[code]

And here a screenshot of error output:

![error1437146396](https://cloud.githubusercontent.com/assets/3356474/8750656/6441f5fe-2cb1-11e5-911a-1899b6afd95d.jpg)

[2015-07-18 07:59] KrauseFx commented on #273
@skywinder This all be replaced soon with the new `spaceship`, it's already implement [here](https://github.com/fastlane/spaceship/pull/65).

[2015-07-18 07:59] #273 closed

[2015-07-20 11:32] robwithhair opened #274 "Made for kids content rating not working"
It seems that if you put made for kids to 1 in ratings.json it doesn't seem to build correctly but if it's set to 0 then it does.  Error screenshot shows the content ratings page open with everything checked apart from the made for kids, which the checkbox is checked but the dropdown is not selected correctly.  I have attempted to build with made for kids set to 0 to see if this indeed works fine,

[2015-07-20 11:35] robwithhair commented on #274
[code]

[2015-07-21 11:41] hco commented on #256
I seem to have a similar issue, SwiftSupport is missing, and as soon as i set EMBEDDED_CONTENT_CONTAINS_SWIFT=true, CopySwiftLibs fails as well.

[2015-07-21 16:23] ds29 opened #275 "Deliver fails when using deliver_file_path option of deliver action"
When specifying deliver_file_path option of the deliver action, I always get an error returned.  Any help is appreciated.  I'm calling it via fastlane using environment files to specify necessary info:

`fastlane metadata --env MyBrandedApp`

In my case, I have numerous apps, so we've created separate Deliverfile(s) for each to automate them all.  For the metadata action, I simply want to upload m

[2015-07-21 16:37] carlosefonseca commented on #227
This seems to work for placing a `dSYM` file inside the `ipa` on the said folder… I'll try using it soon to submit an app using `deliver`…

[code]

[2015-07-22 08:44] KrauseFx commented on #275
It seems like the metadata files can't be found. Please add this right underneath the `meta_dir`:

[code]

I assume it's just a missing `..` or similar.

[2015-07-22 11:14] mcactive opened #276 "Submit for review, missing third party content?"
Fastlane crashes on submitting for review in Deliver because the Third Party content options are missing in iTunes Connect..

[code]

![schermafbeelding 2015-07-22 om 13 14 19](https://cloud.githubusercontent.com/assets/3145164/8824165/98b9daac-3073-11e5-92ab-c7efd5bdd6a3.png)

[2015-07-22 14:28] ds29 commented on #275
@KrauseFx Thanks for the feedback.  I tried this, but it never reaches that line.  It's still failing in the constructor.  I also tried using the absolute path to the meta_dir which has the same result.

For now, I'm working on a workaround by using a process similar to the app factory pattern suggested in the fastlane examples.

[2015-07-22 14:36] meyskens opened #277 "Can't set initial pricing"
I'm trying to submit an app to iTunes that was just created using produce and every time I get this error. No initial pricing found, please set the pricing at least once on iTunes Connect
Is there a way to let either procude or deliver set the initial price?

[2015-07-22 18:56] ds29 commented on #275
@KrauseFx There was an issue with my environment variables which was causing this error.  The real file was trying to read from ENV['APP_VERSION'] and that wasn't getting set properly.  My apologies for the confusion and the clutter.

[2015-07-22 18:56] #275 closed

[2015-07-23 00:07] chocolatekk opened #278 "How can I skip the step to "Distributing the latest build to Beta Testers"?"
Currently, we only have internal testers to test the app. Is it possible to skip the step to "Distributing the latest build to Beta Testers"? That step takes a long time, and doesn't seem to be needed by us. I have to hit "Ctrl-C" to stop it. I am curious whether it will automatically "Submit for Beta App Review" when it finish waiting.

Below is the log session:

[16:27:02]: ---------------------

[2015-07-23 15:48] chocolatekk commented on #278
Ok. I found the answer myself. If I set skip_deploy to true, then it won't try to distribute the build to the beta testers. Thanks for making this great tool!

[2015-07-23 16:52] KrauseFx commented on #275
:+1:

[2015-07-23 16:52] KrauseFx commented on #278
Great to hear @chocolatekk :+1:

[2015-07-23 16:52] #278 closed

[2015-07-23 16:55] KrauseFx commented on #277
You're right, this should be part of `deliver`, sorry, but this is not implemented yet.

[2015-07-23 17:05] KrauseFx commented on #276
Sorry, this part will soon be replaced by spaceship, fixing this issue. In the mean time, you'll have to submit the apps for reviews manually if you're still experiencing this issue.

[2015-07-24 13:50] gfpacheco commented on #277
Just to clarify, deliver had this feature once, right? Am I crazy?

[2015-07-24 13:56] KrauseFx commented on #277
@gfpacheco No, `deliver` can only update existing prices. Up until now `produce` set the initial pricing to free, which it doesn't do anymore.

[2015-07-24 17:02] dral3x opened #279 "metadata and screenshots should consider default_language"
Hello,

I'm working on updating our fastlane publishing script to upload our apps.

I notice that deliver does not requires a language folder for metadata if I specify `default_language` but this does not work for screenshots.

So I have to structure folders and files this way
[code]
or this way (specifying `default_language`)
[code]

but not this (specifying `default_language`)
[code]

I think th

[2015-07-24 18:34] KrauseFx commented on #279
Yes, sorry about this. I don't think it's a good idea to change it now, as it could potentially break existing setups.

Thanks for letting me know though, but I think we'll leave it like this :+1:

[2015-07-24 18:34] #279 closed

[2015-07-24 18:43] andrewpage opened #280 "Deliver sits waiting indefinitely for app processing, when app is in an "Invalid Binary" state"
**iTunes Connect for the last 15 or so minutes:**
<img width="1049" alt="processing" src="https://cloud.githubusercontent.com/assets/3052811/8881748/e9166324-31f6-11e5-9dab-63c8aa7f537d.png">

**Latest from Fastlane Deliver:**
[code]

Deliver isn't detecting that the app deployment failed. Not sure why this is?

[2015-07-24 19:22] CraigSiemens commented on #227
I looked at an `ipa` created by Xcode and the `Symbols` folder contains two `.symbols` files that are just binary data.

I decided to try a couple different ways of adding the `dSYM` to the `ipa` anyway.
**tl;dr** Nothing worked

---

##### Add `dSYM` to the `Symbols` folder in the `ipa`
Fails to upload to iTunes Connect with the error

---

##### Add `dSYM.zip` to the `Symbols` folder in the `ipa

[2015-07-24 19:36] KrauseFx commented on #280
Sorry, `deliver` was not yet updated to `spaceship` and so it can't get further details for the builds.

[2015-07-26 21:35] drupalmodule commented on #277
So Fastlane suite (produce / deliver) can no longer install a new app?  Can you put the default pricing back in produce so we can upload new apps without having to manually create a price list?  My automated system is now hosed.  We create up to 20 new apps a week.

[2015-07-27 08:46] dral3x commented on #277
Just to understand how this bug will be resolved.
Will `deliver` set the initial price or it will be `produce` responsibility do that ?

[2015-07-27 10:41] richarddigifit opened #281 "Feature request: more options for deliver init"
Currently deliver init only supports -u as option.
Could it be possible to add the app identifier and the autocreate as options?

[2015-07-27 14:16] shoshRose commented on #266
I have the same issue (just upgraded to fastlane 1.13.0), everything runs well for the following:
[code]
Once I add deliver to the lane I get the error:
[code]
Any ideas?

[2015-07-27 15:00] roccozanni commented on #277
Same here. Our automated deployment pipeline is not working because of this. Any ETA?

[2015-07-27 19:13] meyskens commented on #277
@dral3x I think `deliver` will set the price if it isn't set soon.

[2015-07-27 20:40] KrauseFx commented on #281
It will soon be possible to define all these things using either the `Deliverfile`, command line options or environment variables. You can follow the progress here: https://github.com/KrauseFx/deliver/pull/259

[2015-07-27 20:43] KrauseFx commented on #277
Sorry everyone about this, I'll try to work on a fix **right now** :rocket:

[2015-07-27 21:55] KrauseFx commented on #277
Here we go, I just worked on `deliver` 0.13.0: https://github.com/KrauseFx/deliver/releases/tag/0.13.0

Please let me know if that works for you :+1:

[2015-07-28 04:44] pedro380085 commented on #266
Same error here, when I upload the app on the first time, I also get:

[code]

[2015-07-28 07:33] dral3x commented on #277
Thanks!
As soon as we test this fix, I will let you know :+1:

[2015-07-28 10:13] dral3x commented on #276
Same problem here.
Any ETA @KrauseFx ?

[2015-07-28 10:15] KrauseFx commented on #276
No, sorry @dral3x. You can follow the progress here https://github.com/KrauseFx/deliver/pull/259

Also, feel free to help me with finishing up the `deliver` upgrade :+1:

[2015-07-28 10:43] dral3x commented on #276
I'm actually working on a fix for this issue because we need it ASAP.
I will make a PR then.

You should probably teach me a tons of stuff just for start upgrading deliver to spaceship :)
I don't know you but I'm in Italy so timezones could be a real problem :globe_with_meridians:

[2015-07-28 10:59] dral3x commented on #276
PR #282

[2015-07-28 11:07] KrauseFx commented on #276
Thanks @dral3x. Don't worry about the time zone, I'm located in Austria :wink:

Do you know how to use the latest version from Git? Or do you want me to do a new release?

[2015-07-28 11:13] dral3x commented on #276
I thought you were in SF (Apple Internship or something like that).

It's not a problem for me using my own version right now (I can update manually my own worker server).
But if you do, maybe @mcactive will appreciate :+1:

[2015-07-28 11:54] shoshRose opened #283 "Feature request: custom 'License Agreement'"
Same as ratings configuration works. receives a json file with the agreement text and list of territories.
@KrauseFx What do you think?

[2015-07-28 13:38] KrauseFx commented on #283
I have never needed this myself, I don't really know any details about this process.

[2015-07-28 13:55] drupalmodule commented on #277
Thanks - will try it out today.

On Jul 27, 2015, at 4:55 PM, Felix Krause wrote:

[2015-07-28 14:33] shoshRose commented on #283
Its a way to write your own terms of use. (usually necessary for companies rather than private people)  It only has 2 steps. (screenshot attached)
I'm trying to add it myself using your 'itunes_connect_app_rating.rb' as reference. but i have limited experience with ruby.
Do you think you'll have time to add this feature?

![a](https://cloud.githubusercontent.com/assets/10708301/8933668/c788a88a-35

[2015-07-28 15:00] KrauseFx commented on #283
Sorry, there are no plans to implement this feature right now. Also, I'm currently in the process of upgrading `deliver` to use the new `spaceship`: https://github.com/KrauseFx/deliver/pull/259

[2015-07-28 15:14] shoshRose commented on #283
Ohh.. too bad. I'm still using the good old fastlane :)

[2015-07-28 23:30] adytzs opened #285 "Failed to Submit"
After update fastlane and another tools, I got this error every I submit.

![untitled](https://cloud.githubusercontent.com/assets/1079533/8946517/36f5df3a-35bb-11e5-8682-928971955495.png)

anyway, I change some data on fastlane file, for "produce" function. just remove "produce_" tag

[2015-07-29 15:52] carlosefonseca commented on #135
Hi! Could the sub categories be optional? It kinda broke my script and if this is only for games, why not make it optional?

[2015-07-29 15:54] antonkarev opened #286 ""Language code "nl-BE" is not supported for localizing metadata displayed on the iTunes Store"
ITC displays this error icon in place of Dutch language for the current live version of my app. Because of that I cannot change metadata or submit the new version. It looks like some bug with iTC, because I cannot change anything due to this error:
![screen shot 2015-07-29 at 5 59 21 am](https://cloud.githubusercontent.com/assets/13306546/8962220/1e0b9c5a-3622-11e5-93bd-b07746228b6b.png)

I don't

[2015-07-29 17:57] KrauseFx commented on #135
@carlosefonseca Oh, sorry about that. Yes, subcategories should be optional, I'll take a look at this now! :+1:

[2015-07-29 18:00] KrauseFx commented on #135
@carlosefonseca The code looks alright. Can you share the output when running `deliver`?

[2015-07-29 19:34] carlosefonseca commented on #135
@KrauseFx I'm using the library. Doing `itc.set_categories!(app, "Travel", "Reference")` gave me an error because it was expecting 5 arguments and I was giving it only 3. I changed it and added the `nil`s and it's fine. I still think that the game subcategories should be optional but it's fine to stay like this. I had never heard or seen subcategories before on iTunes Connect so it was kind of a s

[2015-07-30 03:17] tonygoold commented on #286
Also experiencing the exact same problem with nl-BE vs. nl-NL.

[2015-07-30 03:53] siuying commented on #286
+1. My apps only have entries "nl-NL" not "nl-BE" in metadata.json

[2015-07-30 08:02] dangthaison91 commented on #285
I have same problem. Also update Deliver, Produce manual but i still get this error.

Other question: I update fastlane but deliver, produce... does not get update?

[2015-07-30 08:18] KrauseFx commented on #285
To update individual tools just run
`sudo gem update produce`
`sudo gem update deliver`

This error is probably related to the down time of iTunes Connect.

[2015-07-30 08:30] KrauseFx commented on #135
@carlosefonseca Oh, sorry about that. Yah, we could make the parameters optional.

[2015-07-30 08:30] #135 closed

[2015-07-30 08:44] dangthaison91 commented on #285
I had tried many times and also check iTunes Connect site, it still alive, at this time. Version 1.12 run normally.

[2015-07-30 09:04] KrauseFx commented on #286
Does that look alright to you? https://github.com/fastlane/fastlane_core/commit/5cd60c98d21181de759b641c3dce6be6ad5ebd41

If so, I'll prepare a new release :+1:

[2015-07-30 10:24] antonkarev commented on #286
Nope, the same error with your commit, too.

ITC has the bug with Dutch:
https://twitter.com/search?q=itunes%20connect%20dutch&src=typd&vertical=default&f=tweets

So lets submit bug reports here: https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/wo/25.0.0.15.3.0.1.15.1

[2015-07-30 10:36] KrauseFx commented on #286
@antonkarev Ah, so there is nothing I should change in `fastlane_core` then :+1:

[2015-07-30 11:07] bvirlet opened #287 "Upload only description, changelog for app "Pending release""
Hi Felix.

I'm not clear if this is possible without using the Ruby API but I have an app 'Pending release' and I would  like to update the following metadata: description and changelog from the `metadata/` folder. However, it seems the script fails because I have local changes to the keywords files too, and they can't be changed under the 'Pending release' status. Is there any way to ignore those

[2015-07-30 11:07] bvirlet opened #288 "Upload only description, changelog for app "Pending release""
Hi Felix.

I'm not clear if this is possible without using the Ruby API but I have an app 'Pending release' and I would  like to update the following metadata: description and changelog from the `metadata/` folder. However, `deliver` fails because I have local changes to the keywords files too, and they can't be changed under the 'Pending release' status. Is there any way to ignore those changes t

[2015-07-30 11:11] KrauseFx commented on #288
Duplicate https://github.com/KrauseFx/deliver/issues/287?

[2015-07-30 11:11] #288 closed

[2015-07-30 11:12] KrauseFx commented on #287
@bvirlet That's currently not possible using `deliver`, but you can use the [spaceship](https://spaceship.airforce) API directly.

Take a look at [this](https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/actions/set_changelog.rb). Basically you could use the same code and set the description and other information too :+1:

[2015-07-30 11:15] bvirlet commented on #287
Thanks, Felix. I will try that.

(I actually just saw `App Status 'pendingDeveloperRelease' not yet implemented, please submit an issue on GitHub` in the logs.)

[2015-07-30 11:24] KrauseFx commented on #287
Oh, great, thanks, I'll fix this! :+1:

[2015-07-30 14:07] KrauseFx commented on #277
Does it work?

[2015-07-30 15:58] skywinder opened #289 "`deliver testflight` not submit builds"
got message

Beta Testing is disabled for version 1.5.1... enabling it now!
Setting the following information for this build:
DELIVER_WHAT_TO_TEST: ''
DELIVER_BETA_DESCRIPTION: ''
DELIVER_BETA_FEEDBACK_EMAIL: ''
Successfully distributed latest beta build 🚀

But actually it doesn't and it's needed to submit for review new beta build manually. Probably it's related with empty variables `DELIVER_WHAT

[2015-07-30 16:03] skywinder opened #290 "How to setup DELIVER_WHAT_TO_TEST?"
There is no description, how to setup this variable automatically. (ok, I can set it by export manually, but it's not very convenient).

I found, that fastlane use dotenv
Here is my `.env` file placed in `./faslane` folder:

[code]
But deliver got's output in the end:

DELIVER_BETA_DESCRIPTION: ''
DELIVER_BETA_FEEDBACK_EMAIL: ''
Successfully distributed latest beta build 🚀

( actually, it  doesn't

[2015-07-31 04:50] sarthak03 opened #291 "Where is the app id of app stored after produce command?"
On running `fastlane deploy` lane as per the following fastfile, the `deliver init` command prompts for the app id of app. Is the app id stored somewhere after generated by `produce`? I want to automate passing of app id.

[code]

[2015-07-31 07:45] bkrijgsman commented on #286
I experience the same problem:

ERROR [2015-07-31 09:37:36.75]: [Transporter Error Output]: ERROR ITMS-4108: "Version '5.0.4', Locale 'nl-BE': Unsupported locale code" at Software/SoftwareMetadata/SoftwareVersion

Does somebody has a workaround?

[2015-07-31 08:08] KrauseFx commented on #291
[code]
[code]

Does that help? :

[2015-07-31 08:10] sarthak03 commented on #291
I directly used this `ENV['PRODUCE_APPLE_ID']`

[2015-07-31 08:30] KrauseFx commented on #291
Okay great to hear :+1:

[2015-07-31 08:30] #291 closed

[2015-07-31 19:20] bkrijgsman commented on #286
I don't experience this problem anymore. I've had contact with Apple Support and (i think) they fixed this within a few hours, so this issue can be closed!

[2015-07-31 20:31] chrisballinger opened #293 "Option to skip screenshot upload?"
I'm not sure if this is possible with the current design, but sometimes I'd like to just update the existing textual metadata for a new version but not re-upload all the screenshots.

[2015-08-01 06:44] KrauseFx commented on #293
Sorry, there is a bug in iTunes Transporter that doesn't allow this. You could however easily build this using [spaceship](https://github.com/fastlane/spaceship/blob/master/docs/iTunesConnect.md) following [this documentation](https://github.com/fastlane/spaceship/blob/master/docs/iTunesConnect.md).

[2015-08-01 06:45] KrauseFx commented on #286
Thank you @bkrijgsman :+1:

[2015-08-01 06:45] #286 closed

[2015-08-01 08:46] chrisballinger commented on #293
Hahaha not surprised. Turns out simply re-uploading them is pretty fast anyway :)

On an unrelated note, [I wrote a script to copy `version_whats_new.txt`](https://github.com/ChatSecure/ChatSecure-Metadata/blob/master/scripts/copy_whats_new.py) from en-US to every other language folder. Not sure if it's useful to anyone else but it will definitely save me a small amount of time in the future.

I a

[2015-08-01 08:46] #293 closed

[2015-08-01 10:19] KrauseFx commented on #293
@chrisballinger Thanks for sharing, there is already something built-in in `fastlane`: https://github.com/KrauseFx/fastlane/blob/master/docs/Actions.md#set_changelog :rocket:

[2015-08-01 18:17] chrisballinger commented on #293
Blast! I've been using each tool independently instead of using `fastlane` so I didn't see that feature because I was only reading the `deliver` readme.

Thank you so much for all the work you've done on these tools!

[2015-08-01 18:31] KrauseFx commented on #293
@chrisballinger Oh, sorry to hear that. How could I make it more clear that there is `fastlane` and that you should use it when you use multiple tools?

Happy the tools are helpful :smiley:

[2015-08-01 18:59] chrisballinger commented on #293
Oh I knew fastlane existed but I figured since I was only using snapshot once in a while and mostly using deliver it wasn't worth using the fastlane tool to just call deliver. Could be helpful to mention in the deliver readme that if you're looking for additional functionality (like being lazy with "what's new") to check out the additional features only available when invoked by fastlane

[2015-08-02 20:27] drupalmodule commented on #277
worked for me! Thanks!

[2015-08-03 07:40] bartl-git opened #294 "Question: metadata folder path"
Hi. Thanks for the great tool.

I have some question. We have ability to set up the screenshots path with command "screenshots_path".
Is there some command like "metadata_path"? I need this because there are two targets in my project: full and free version of app and they have different description, change log, etc.

Or could your advise other ways to get it?
Thanks.

[2015-08-03 07:56] bartl-git commented on #294
Found the same question: https://github.com/KrauseFx/deliver/issues/258

[2015-08-03 10:58] KrauseFx commented on #277
Great to hear :+1:

[2015-08-03 10:58] #277 closed

[2015-08-03 11:06] KrauseFx commented on #258
Moving further discussion to https://github.com/KrauseFx/deliver/issues/294

[2015-08-03 11:06] #258 closed

[2015-08-03 11:07] KrauseFx commented on #294
Not possible right now, but as soon as I'm finished with upgrading `deliver` to use `spaceship`: https://github.com/KrauseFx/deliver/pull/259, `deliver` will also use the new configuration system in which it's easy to add new options.

[2015-08-03 11:07] KrauseFx commented on #294
In the mean-time, please use the workaround with multiple `Deliverfile`s.

[2015-08-03 11:40] bartl-git commented on #294
Ok. Thanks for your answer

[2015-08-03 11:55] fvvliet commented on #294
How can I create multiple Delivers ?
I''m dealing with an Xcode project with at least 30 targets.
Thanks, Frank

[2015-08-03 12:23] KrauseFx commented on #294
Maybe @joshdholtz can help with this? :smiley:

[2015-08-03 12:35] joshdholtz commented on #294
Hey @fvvliet! I will be writing up a guide on how I do this but I rely really heavily on environment variables. I create different `.env` files for each environment and reference those environment variables in my Deilverfile, Fastfile, etc.

Example: Create  a `.env.app1`, `.env.app2`, and `.env.app3`. Define each of these like the following...
[code]

Now your Deliver file should look something l

[2015-08-04 08:22] gianghd opened #295 "Failed to submit"
Hi,
I got this error when submit. How to fix it!!!
![error](https://cloud.githubusercontent.com/assets/6879514/9056318/7c40f9e8-3abc-11e5-92ba-156c494c6cec.png)
I'm using fastlane 1.14.0.

[2015-08-04 11:14] KrauseFx commented on #294
Thanks @joshdholtz :+1:

[2015-08-05 05:59] besi commented on #290
I am wondering. Is `DELIVER_WHAT_TO_TEST` the equivalent of the file `fastlane/metadata/version_whats_new.txt`?

[2015-08-05 09:43] KrauseFx commented on #290
@besi Sorry no. The `version_whats_new.txt` is the change-log for the app in the App Store.

[2015-08-05 13:09] bartl-git opened #296 "Feature: Screenshots downloading progress"
Is it posible to show screenshots downloading progress?
E.g. something like this: Downloading existing screenshot (100 of 350) '2_iphone35_3_iphone4_ru.jpg' of device type: 'iphone35'

[2015-08-05 13:11] KrauseFx commented on #296
@bartl-git Sure, that would be possible. I'm currently in the process of re-writing this part using `spaceship`.

Why would you need this feature?

[2015-08-05 13:16] bartl-git commented on #296
I am currently downloading screenshots from series of our projects. Each have 15 localisations. And I want to know when downloading will finish.

[2015-08-05 13:18] bartl-git commented on #296
Showing estimated time will be great feature too, if it's possible

[2015-08-05 13:47] bartl-git commented on #170
Got the same issue

[2015-08-05 16:35] ffittschen commented on #118
@lyahdav This helps indeed! But just like @bryanchacosky my XCode project is getting regenerated...

Is there any way to programmatically set the `Code Signing Identity > Release` to `iOS Distribution` ?

[2015-08-06 03:14] purplepeng opened #297 "App doesn't seem to be in the App Store yet or is not available in the US App Store. Using the iTC API instead"
HI. I have a problem.
My App belong to China App Store. I follow these steps ,but i failed;
1. cd [your_project_folder]
2. deliver init
and then it tips:
" Do you want Deliver to automatically create the Deliverfile for you based on your current app? The app has to be in the App Store to use this feature. (y/n)"
I selected y. And then i input my username and password.

It tips " App doesn't seem t

[2015-08-06 03:57] #297 closed

[2015-08-06 03:58] purplepeng commented on #297
I'm sorry. Maybe i input wrong password.

[2015-08-06 08:33] fvvliet commented on #294
@joshdholtz : Thank you for your advice. I'm just starting to learn how to use Deliver, can I start Deliver with an .env file too ?

[2015-08-06 09:37] KrauseFx commented on #297
:+1:

[2015-08-06 09:41] KrauseFx commented on #118
@ffittschen I published a [Code Signing Guide](https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md) that helps you with setting up code signing for your project.

Also, I'm working on a new [tool](https://github.com/fastlane/gym) that will soon replace `shenzhen`. If you want, please try building your app with `gym` and let me know if that works for you :+1:

[2015-08-06 10:02] ffittschen commented on #118
@KrauseFx I read your guide, but my `project.pbxproj` does not contain the `PROVISIONING_PROFILE = "";` part... It just appears if I manually switch from **Automatic** to something else and then back to **Automatic**

Is there already a fastlane action for gym? Or should I just use a shell command for now?

[2015-08-06 10:04] KrauseFx commented on #118
@ffittschen There is no `fastlane` action *yet*, there will be one once `gym` is publicly announced.

[2015-08-06 10:53] #263 closed

[2015-08-06 10:53] kani-rifluxyss commented on #263
Thank you so much for the wonderful tool!

[2015-08-06 19:22] KrauseFx commented on #263
:+1:

[2015-08-07 13:04] bartl-git opened #298 ""deliver upload_metadata" doesn't create new version"

[2015-08-07 13:10] KrauseFx commented on #298
Why should it create a new version? How should `deliver` know which version to create?

[2015-08-07 13:24] bartl-git commented on #298
I think "upload_metadata" uses Deliverfile, isn't it?
Now if I use deliver without options and do not provide any ipa file, it works as I expected: creates new version and upload new metadata.

[2015-08-09 12:37] robertjpayne opened #299 "If screenshots directory doesn't exist leave screenshots 'as is'"
Is it possible for deliver to not touch existing screenshots if a screenshots directory doesn't exist? It's pretty frustrating to find out that it's removed all the screenshots already in iTunes Connect.

Reason I ask is because I'm using deliver to mostly just upload the `ipa` and configure some metadata rather than the entire process.

[2015-08-09 19:44] bartl-git opened #300 "Existing screenshots sometimes is not downloaded properly"
There is black areas at the bottom of screenshots.

I attach one such file as example.

![0_ipad_free_ipad_1_en](https://cloud.githubusercontent.com/assets/1385441/9156567/cd7c5940-3ee7-11e5-8d8b-ee5d0888340a.jpg)

May be it's not issue of `deliver`, but it will be great if `deliver` would check that file is downloaded properly and download again the file if something wrong happened.

[2015-08-10 11:45] weichengchu commented on #299
I want to suggest the same feature as well.

[2015-08-10 16:12] ulizama commented on #276
Hi @KrauseFx is this fix in the latest version?

I have 0.13.0 but still I have the error with the third party content step.

[2015-08-10 16:18] dral3x commented on #276
@ulizama the fix I made and @KrauseFx merged in the repo has not been released yet.

[2015-08-10 16:39] ulizama commented on #276
@dral3x Thanks ;)

[2015-08-10 22:22] KrauseFx commented on #276
Sorry everyone, I'll release an update tomorrow morning :+1:

[2015-08-10 22:22] KrauseFx commented on #299
Sorry about this, it's not possible to only upload app metadata without the screenshots. You can use `deliver download_screenshots` to download the existing screenshots :+1:

[2015-08-10 22:23] KrauseFx commented on #299
I'll close this issue for now, let me know if you have any further questions.

[2015-08-10 22:23] #299 closed

[2015-08-11 07:04] mcactive commented on #276
??

[2015-08-11 08:41] shoshRose opened #301 "multi line description with escape chars in deliver file"
what would be the best practice to add a multi line description in the deliver file:
this is how im using it now: (and getting an error)
[code]
the error:
[code]
or should it be: (escaping quotation marks)
[code]

[2015-08-11 10:18] KrauseFx commented on #301
You shouldn't store the actual app description in your `Deliverfile`. Instead store it in a separate `txt` file and add this to your `Deliverfile`:
[code]

Does that make sense? :+1:

[2015-08-11 10:22] KrauseFx commented on #276
It's live https://github.com/KrauseFx/deliver/releases/tag/0.13.1 :+1:

[2015-08-11 10:22] #276 closed

[2015-08-11 10:42] shoshRose commented on #301
yep. thanks!

[2015-08-11 11:21] #301 closed

[2015-08-11 11:31] fvvliet opened #302 "Instruct Deliver to ignore files in metadata folder ?"
Hello Felix,

When I upload an app update with Fastlane / Deliver I would like to update only the changeLog and leave the other metadata untouched in iTunesConnect - cause I have about 30 targets and the metadata is different for every target. Is it possible to ignore the files in the metadata folder and do this with the changeLog() action in the Deliver file ?

Thanks
Frank

[2015-08-11 11:41] KrauseFx commented on #302
For the changelog you can use [this](https://github.com/KrauseFx/fastlane/blob/master/docs/Actions.md#set_changelog) fastlane action :+1:

[2015-08-11 11:44] fvvliet commented on #302
Ok thank you. And how can I have Deliver ignore the other data in the metadata folder ?

[2015-08-11 12:15] KrauseFx commented on #302
That's not possible right now, sorry.

[2015-08-11 16:33] robwithhair commented on #274
@KrauseFx any news on this issue?  Seems to be a constant issue any time anyone uses made for kids selections.

[2015-08-13 07:55] robwithhair commented on #79
I can confirm that we are experiencing this same issue but with a password containing % and (   I know this is an old issue and seems to be iTunes transporter related but is there any movement on this?

[2015-08-13 08:07] robwithhair commented on #79
@KrauseFx I have submitted a bug report to Apple about this.

[2015-08-13 08:52] robwithhair commented on #79
@KrauseFx my stack trace just on the off chance this isn't caused by an iTunes Transporter bug as I suspect.
[code]

[2015-08-13 09:22] KrauseFx commented on #79
@robwithhair Thanks for reporting this to Apple.

Yes, the error is caused by the Transporter, see the following 2 lines:

[code]

[2015-08-14 12:07] Srthk opened #303 "Fail to submit app_review_information on iTunes Connect"
The following is the code for my deliverfile -
[code]
The following is the part inside fastfile lane where deliver is present -
[code]
On shell, running fastlane displays that review information is successfully uploaded -
[code]
But in reality the app review information is not stored on iTunes Connect -

![error1439551256](https://cloud.githubusercontent.com/assets/7152922/9273487/d79c87da-42aa-11

[2015-08-14 15:03] KrauseFx commented on #303
I'm currently working on a completely new version of `deliver` using `spaceship`, you can follow the progress here: https://github.com/KrauseFx/deliver/pull/259

Sorry for the troubles in the mean-time, I hope to get it done soon.

[2015-08-14 16:54] ronfessler opened #304 "invalid byte sequence in US-ASCII"
When using Deliver on one project, I get "invalid byte sequence in US-ASCII".  However, Deliver works fine using a different project.  For the life of me, I can't figure out why it works with one and not the other.

I'm running deliver with these params: ```deliver -f --skip-deploy```

For what it's worth, I've already tried ```export LC_ALL="en_US.UTF-8"```.

Below is the Transporter output:

[co

[2015-08-14 20:17] mmlittle commented on #303
Felix, are you going to support running deliver from an Xcode Server script?

[2015-08-14 20:44] DF-Franzi opened #305 "Login Issues"
Seem to be running into a strange login issue with Deliver after running Fastlane. Connecting through Sigh/Cert to iTC works just fine, but once the process gets down to the Deliver step, it errors out with:

[code]
This seems to ultimately be caused by:
[code]

The screenshot that's created for this is generally empty or a thin tile of the blue background of the iTC page.

[2015-08-14 21:07] KrauseFx commented on #304
Hi @ronfessler, please follow [this reply](http://stackoverflow.com/a/17031697/445598) :+1:

[2015-08-15 05:52] Srthk commented on #303
@KrauseFx Tentatively when will it get resolved because it ultimately enforces us to make the changes manually. Any alternative?

[2015-08-15 07:41] sebyddd commented on #141
Solution: Once you have the screenshot files, select all, open with preview > select them all > File > Export selected images > PNG > Export. Now replace the .JPG screenshots with the .PNG in the screenshots folder.

[2015-08-15 09:14] KrauseFx commented on #305
I'm currently working on a `spaceship` upgrade of `deliver`, you can follow the progress here: https://github.com/KrauseFx/deliver/pull/259

[2015-08-15 09:18] czechboy0 commented on #303
@mmlittle I'll be publishing a detailed tutorial [here](http://honzadvorsky.com/pages/xcode_server_tutorials/) on how to do that on Monday.

[2015-08-16 21:56] drupalmodule commented on #305
any estimation when the new version will be ready - I have 650 apps to update and deliver can not login.

[2015-08-17 05:28] Srthk opened #306 "How to change IDFA value to 'Yes' using Deliver in final step of submit for review?"
By default the options after "Submit For Review" are select as "No" by Fastlane/Deliver. I would like to change or set the values of 'Content Rights' and 'Advertising Identifier' using either my deliverfile or fastfile. How can I achieve that?

The error generated after `deliver` is this-

![error1439624560](https://cloud.githubusercontent.com/assets/7152922/9288049/57c80eec-4351-11e5-841f-173b35f

[2015-08-17 07:39] KrauseFx commented on #306
I'm working no a re-write of `deliver` using `spaceship`, you can follow the progress here: https://github.com/KrauseFx/deliver/pull/259

[2015-08-17 07:40] KrauseFx commented on #305
Sorry, it will take a few more weeks probably @drupalmodule.

[2015-08-17 13:51] drupalmodule commented on #305
are all deliver users affected by this problem or is there some work around?  As far as I can tell no one should be able to use deliver since it can not log in.

[2015-08-17 13:54] drupalmodule commented on #305
@KrauseFx can I sponsor the fix for the current version to get it working again asap?

[2015-08-17 14:15] ronfessler commented on #304
Setting the locale from terminal didn't work for me.  I had to add the following code to the top of the deliver.rb file.

    Encoding.default_external = Encoding::UTF_8
    Encoding.default_internal = Encoding::UTF_8

Thanks.

[2015-08-17 14:15] #304 closed

[2015-08-17 17:22] KrauseFx commented on #305
@drupalmodule I just tested, the login works just fine for me. Could you share the complete `deliver` related output?

[2015-08-17 18:20] ajaybeniwal commented on #118
I am facing the same issue which deploying Ionic IOS app to test flight using FastLane
{:DEFAULT_PLATFORM=>:ios, :ENVIRONMENT=>nil, :PLATFORM_NAME=>:ios, :LANE_NAME=>"ios beta", :IPA_OUTPUT_PATH=>"/Users/commonapp/Documents/OfficeWork/CAMobile/Ionic/CAMobileApp/CAMobileApp.ipa"}

I am using the below configuration

gym(scheme: "CAMobileApp", project: "platforms/ios/CAMobileApp.xcodeproj")
 deliver

[2015-08-17 19:37] ffittschen commented on #118
@ajaybeniwal if you specify the `output_directory` and the `output_name` in gym, you can remove the `beta_ipa` line from your `Deliverfile`. I followed the [Code Signing Guide](https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md) and set up my project like this:

### Ruby script, called between all cordova/ionic commands and the fastlane execution
[code]
### Fastfile
[code]

### D

[2015-08-18 00:42] mmlittle commented on #303
That's great news.

I'm looking forward to reading it.

[2015-08-18 16:54] czechboy0 commented on #303
Here it the tutorial: http://honzadvorsky.com/articles/2015-08-17-17-30-xcode_server_tutorials_3_prebuild__postbuild_scripts/

[2015-08-18 19:48] mmlittle commented on #303
Thanks, but the one I'm really needing is the "no valid signing identity was found" elephant you teased us with at the end.

Can you just give me a hint please?

[2015-08-18 19:53] czechboy0 commented on #303
Sure - do you want to take this elsewhere? (This is not relevant to the original ticket). I need more info before I can tell you what needs to be done.

[2015-08-18 20:03] mmlittle commented on #303
Sure, follow me on twitter so we can DM if you don't mind.  Or we can trade email.

thx

[2015-08-18 21:30] cdunkel commented on #159
Was a fix for this ever rolled into a deliver release?

[2015-08-18 22:28] Ged2323 opened #307 "Video demos"
Hi,
Thanks for a great way to upload all of the screen shots.
I was wondering if there is a way to add the videos into the screen shot folders and have them uploaded as well.  If you can point me in the right direction on this code I'll see if I can figure something out.

Yours Sincerely
Gerard Grundy

[2015-08-19 06:40] Srthk commented on #303
Btw the app_review_information was fixed earlier, the error was in syntax of `phone_number`.

[code]
iTunes connect didn't accept information without country code but Fastlane showed that it was successfully uploaded. After adding `+ 91` the country code, the `app_review_information` was visible on iTunes Connect.

@KrauseFx You can close the issue.

[2015-08-19 08:34] KrauseFx commented on #159
@cdunkel it was, but it introduced a new issue when the app was not available in the US App Store. I haven't yet had time to implement a fix, please don't provide a changelog in the mean-time.

[2015-08-19 08:35] KrauseFx commented on #307
Hi @Ged2323, sorry, but that's not possible right now. You can follow the original issue here: https://github.com/KrauseFx/deliver/issues/34

[2015-08-19 08:35] #307 closed

[2015-08-19 08:35] KrauseFx commented on #303
Thanks for letting me know @Srthk :+1:

[2015-08-19 08:35] #303 closed

[2015-08-19 12:47] osmanertem opened #308 "Use same screenshots for all languages"
Hi,
Thank you for developing great tools like deliver. I really appreciate it.

I have a question/request for you.

In itunesconnect web interface, default language's screenshots may be used for other languages too. You dont need to upload same screenshots for all languages.

But in deliver, I had to specify screenshots folder for all languages. It uploads them all one by one. This upload process

[2015-08-19 12:48] yannisroy commented on #305
@KrauseFx same issue happening to me. I am not sure but I think it was failing sometimes until last-week, now I cannot make it work at all.

your `deliver` tool is so awesome that it becomes difficult to live one day without it. Thank you for all the hard work. I am sure `spaceship` version will make it even more reliable.

Here are my outputs:
[code]

[2015-08-19 12:51] KrauseFx commented on #308
Sorry, that's not possible right now. To be honest, I didn't know that's possible on iTunes Connect.

[2015-08-19 13:54] atkit commented on #213
issue reproducible on Ruby 2.2.2.
but everything is fine on stock ruby 2.0.0p481 that is shipped with OSX Yo--something

[2015-08-20 15:22] SPAHI4 commented on #300
have this issue too

[2015-08-20 22:40] meyskens opened #309 "Contact Information not added"
Deliver doesn't seem to full in the contact information on iTunes Connect making the last step fail

[2015-08-21 12:25] meyskens commented on #309
Follow up: only seems to happen when the phone number is not in international format, which apple checks now. Maybe Deliver giving an error could be useful.

[2015-08-21 12:32] koenpunt commented on #256
I have this same issue when using `gym`, but not when I use `ipa`. Could it be that it has something to do with SwiftSupport not being included in the codesigning process?

I use the commands in the following order

[code]

So it's not possible to do the code signing after `gym`, because it's using the `PROFILE_UDID`.

Before when I didn't use the dynamic profile, and `sigh` and `gym` were in diff

[2015-08-22 08:58] mortenholmgaard opened #310 "Simple question regarding download_screenshots"
How do I call `download_screenshots` from a fastlane lane?
I only see docs for to call it from the terminal.
I have tried:

    deliver download_screenshots
    download_screenshots

[2015-08-22 10:47] KrauseFx commented on #310
There is no integration for it, you can use `sh "deliver download_screenshots"`

[2015-08-22 11:39] mortenholmgaard commented on #310
Okay - how do I add the app bundle identifier as an argument?

And there seems to be something wrong with the command because it is waiting for you to type in the apps bundle identifier before it is printing the text asking you to write it.

[2015-08-22 12:14] KrauseFx commented on #310
[code]

[code]

[2015-08-22 12:35] #310 closed

[2015-08-22 12:51] KrauseFx commented on #310
:+1:

[2015-08-24 08:01] Rosepotato opened #311 "Exception happened when dstributing the latest build to Beta Testers"
I use command "deliver testflight" to upload my ipa file into Apple testflight. I always encountered the exception like following.

[code]

[2015-08-24 08:02] KrauseFx commented on #311
Sorry, this part of `deliver` was not yet updated to use [spaceship](https://spaceship.airforce). You could use `pilot` to distribute your builds to beta testers :+1:

[2015-08-24 14:08] mattdelves opened #312 "Can't upload to itunesconnect test flight beta when password contains special characters"
When trying to upload an ipa to test flight beta, I'm seeing that the initial connection is successful but then when it tries to use transporter, it fails to authenticate. I solved this by changing my password to something that doesn't contain special characters.

Output from first login
[code]

Output from failed login
[code]

Thanks.

[2015-08-24 18:43] andrewpage opened #313 "Deliver is changing $stdout to STDOUT"
Encountered an issue with deliver recently. I'm using the exposed deliver Ruby classes, and in my project I'm setting `$stdout` to a custom class to redirect output. This works fine with TestFlight delivery, but for some reason, `$stdout` is getting reset back to `STDOUT` (`#<IO:<STDOUT>>`) during the App Store delivery process.

[code]

Can you think of any reason why `$stdout` would be reset bac

[2015-08-24 18:47] andrewpage commented on #312
@mattdelves We're seeing this issue too @ Ship.io.

[2015-08-24 18:49] KrauseFx commented on #312
Sorry, this issue is related to the iTunes Transporter: https://github.com/KrauseFx/deliver/blob/master/lib/deliver/itunes_transporter.rb#L59-L61

I haven't found out if there is a way to work around it.

This is how the command is generated: https://github.com/KrauseFx/deliver/blob/master/lib/deliver/itunes_transporter.rb#L181-L203

The password is escaped using `Shellwords`. If you find a way to

[2015-08-24 18:51] KrauseFx commented on #313
You submitted a pull request a while back that changes this behaviour: https://github.com/fastlane/fastlane_core/pull/22

I don't know more about this, I'd have to look into this, sorry.

[2015-08-24 19:00] andrewpage commented on #313
Yes, but that shouldn't be redefining $stdout itself, just changing the output where Fastlane tools send their logs. I've done some code searches within both deliver and fastlane_core, but I haven't found anything promising just yet.

Besides those two repositories, do you know of any more libraries that deliver is using internally that I should be looking through?

[2015-08-25 07:24] KrauseFx commented on #313
Sure:

`commander` and with it `highline`

Besides that, almost all outputs in `fastlane` are done via `FastlaneCore::Helper.log.info "text"`

[2015-08-25 10:28] OlofT opened #314 "'deliver init' fails if you have many in-apps"
Output ends with this:
[code]

[2015-08-25 10:33] KrauseFx commented on #314
I don't think there is much `deliver` can do, as it's a limit of the iTunes Transporter. If you submit a radar, please let me know so I can link to it when other users experience the issue.

[2015-08-26 17:41] cdunkel commented on #305
Everything was fine for me until yesterday and now I'm seeing the same issue.  Since this issue has been open for a while I'm not sure how I'm just seeing it now, but I know that my delivery yesterday went without a hitch.

[2015-08-27 01:15] cameronehrlich commented on #227
:+1: this would be really handy

[2015-08-27 05:19] habermeier commented on #305
I get the same problem here -- used to work, but not anymore.

[2015-08-27 05:32] NikhilRyan opened #315 "Login Error with Deliver"
On running "deliver --force" getting this error since today morning only.
My credentials are correct (cross checked thrice). I'm able to login with the same password and Id on "iTunes Connect" manually.
Could be the reason - (Couldn't find element '.ng-scope')

![screen shot 2015-08-27 at 10 47 01 am](https://cloud.githubusercontent.com/assets/13447764/9513179/e564669a-4ca9-11e5-985c-b0d1dfa10188.

[2015-08-27 07:55] yannisroy commented on #305
Some info that might help:
- Sometimes, I can make it work once, then it will keep failing for multiple days in a row.
- I am using ENV variables (DELIVER_USER, DELIVER_PASSWORD, FASTLANE_TEAM_ID) for credentials.
- `deliver testflight ...` works like a charm to upload a build, but it fails when I am using deliver to upload screenshots and metadata ` deliver run ...`.

I will try it with `FASTLANE

[2015-08-27 09:19] sandman4sure commented on #305
[code]

[2015-08-27 09:27] martynovskij commented on #315
I also got a similar error (Error logging in user XXXXXXXXXX@XXXXX.XXX with the given password. Make sure you entered them correctly):
deliver --force --skip-deploy
[code]

[2015-08-27 09:58] guidev commented on #315
same here

[2015-08-27 10:02] mozinator commented on #315
confirm

[2015-08-27 10:03] amarcadet commented on #305
Seem like the issue is back

[2015-08-27 10:06] amarcadet commented on #315
https://github.com/KrauseFx/deliver/issues/305

[2015-08-27 10:17] mikefranken commented on #315
same

[2015-08-27 10:19] zeroel commented on #305
I also get this issue today, anyone know why?

[2015-08-27 10:21] KrauseFx commented on #315
Sorry for the troubles. I'm working on a new version of `deliver` https://github.com/KrauseFx/deliver/pull/259 which fixes all these problems by upgrading to `spaceship`.

If you only want to upload a binary, you can always use the new [pilot](https://github.com/fastlane/pilot) tool :+1:

Duplicate of https://github.com/KrauseFx/deliver/issues/305, moving further discussion to https://github.com/K

[2015-08-27 10:21] #315 closed

[2015-08-27 10:21] mikefranken commented on #305
The problem is not the credentials, but the iTC login page. I put save_and_open_page in the src of ./fastlane_core-0.15.0/lib/fastlane_core/itunes_connect/itunes_connect_login.rb
and the page does not containg $(".enabled")

[2015-08-27 10:28] Srthk commented on #305
@KrauseFx Pilot doesn't allow to upload the metadata. Is there a probable time when spaceship will be ready? Can this error be fixed in the interim using deliver?

[2015-08-27 10:47] guidev commented on #305
same here

[2015-08-27 11:06] OlofT commented on #314
Don't you think it would be possible to add subitemtype = None? Since it says:

Content has a large number - greater than 1000 - of sub-items, please restrict the lookup by using a subitemtype parameter with one of the following values: InAppPurchase, None, GameCenterLeaderboard, GameCenterAchievement

Otherwise it should be possible to ask for one inAppPurchase and get the rest of the package (I

[2015-08-27 12:26] mozinator commented on #305
maybe we can just hack itunes_connect_login.rb so that it works again... until the version based on spaceship is ready ?

[2015-08-27 14:14] KrauseFx commented on #314
If you find a way to do this using the iTunes Transporter, I'd be happy to integrate this into `deliver`. As far as I know it's a artificial limitation of the iTunes Transporter.

[2015-08-27 14:40] trsneed opened #316 "Deliver fails to log in to iTunesConnect"
I am updating some apps and get this message when starting the deliver process.

Couldn't find element '.ng-scope' after waiting for quite some time
/Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.14.0/lib/fastlane_core/itunes_connect/itunes_connect_login.rb:55:in `rescue in login': Error logging in user MYUSER with the given password. Make sure you entered them correctly. (FastlaneCore::ItunesConne

[2015-08-27 14:52] CraigSiemens commented on #227
I created a custom fastlane action that does this. I posted it to https://github.com/fastlane/gym/issues/51 since it makes more sense for `gym` to support this since it builds the IPA.

[2015-08-27 15:22] bkrijgsman commented on #316
I experience the same issue overhere. I think Apple changed something.

[2015-08-27 15:24] KrauseFx commented on #316
I just pushed an update of `deliver`, please update to `0.13.2` using `sudo gem update deliver`

I'm working on a brand new version of `deliver` that uses `spaceship` to communicate with iTunes Connect (you can follow the progress here: https://github.com/KrauseFx/deliver/pull/259), in the mean-time please try the latest release and let me know if that works for you :+1:

[2015-08-27 15:25] KrauseFx commented on #305
I just pushed an update of `deliver`, please update to `0.13.2` using `sudo gem update deliver`

I'm working on a brand new version of `deliver` that uses `spaceship` to communicate with iTunes Connect (you can follow the progress here: https://github.com/KrauseFx/deliver/pull/259), in the mean-time please try the latest release and let me know if that works for you :+1:

[2015-08-27 15:25] bkrijgsman commented on #316
Wow dat was quick :-). I'll let you know!

[2015-08-27 15:30] bkrijgsman commented on #316
Thnx it works! (Y)

[2015-08-27 15:54] guidev commented on #305
@KrauseFx thank you! Solved!

[2015-08-27 16:06] mozinator commented on #305
thank you !

[2015-08-27 16:09] KrauseFx commented on #316
@trsneed can I close this issue?

[2015-08-27 16:10] KrauseFx commented on #305
Can I close this issue? :+1:

[2015-08-27 16:11] jacebrowning commented on #316
I had the same issue. I'm giving `0.13.2` a try now...

[2015-08-27 16:22] jacebrowning commented on #316
:+1:

[2015-08-27 16:36] gamlin777 commented on #305
Solved the issue, thank you!

[2015-08-27 16:45] trsneed commented on #316
Yes! Sorry, I went for a lunch time job. Perfecto!

[2015-08-27 16:45] #316 closed

[2015-08-27 16:48] KrauseFx commented on #305
Great to hear :+1:

[2015-08-27 16:48] #305 closed

[2015-08-27 17:11] OlofT commented on #314
I'll look into it.

[2015-08-27 18:17] GandjaFuzz opened #317 "New Language Format"
me write this error.
it is write on last version deliver, previous version will be all ok.

[code]

please help me

[2015-08-27 18:25] mikefranken commented on #305
solved!

[2015-08-27 18:37] iPavel92 commented on #317
You are not alone, exactly the same thing while updating an app.

[2015-08-27 18:51] maurrubio commented on #317
I also cannot update my metadata, it seems that Apple changed the language identifier for languages that are spoken in just one place. For example Italian, it was it-IT now is requires to be just IT.

Please fix?

[2015-08-27 19:04] gamlin777 commented on #317
I'm also having the issue, I'm going to see if I can change the locale identifiers inside Deliver to match Apple's new ones.

[2015-08-27 19:34] KrauseFx commented on #317
We have to find out if that's a temporary issue of iTunes Connect or if Apple actually changed the languages. Did one of you already submit a radar?

[2015-08-27 20:03] gamlin777 commented on #317
I've just submitted a quick one via bugreport.apple.com.

[2015-08-27 23:10] zeroel commented on #317
After updated deliver to VERSION = "0.13.2".
I also get this bug, this is the logs:

ERROR ITMS-4108: "Version '1.204', Locale 'tr-TR': Duplicate locale" at Software/SoftwareMetadata/SoftwareVersion
ERROR ITMS-4108: "Version '1.204', Locale 'vi-VI': Duplicate locale" at Software/SoftwareMetadata/SoftwareVersion
ERROR ITMS-4108: "Language code "zh-Hans" is not supported for localizing metadata disp

[2015-08-28 09:49] kylejm commented on #305
YAY! Thanks @KrauseFx! :star2:

[2015-08-28 09:49] gamlin777 commented on #317
It looks like they've changed to the following locales: "da, fi, it, ja, ko, no, ru, sv, th, tr, zh-Hans, zh-Hant". Not sure if there are others.

[2015-08-28 11:04] guidev commented on #317
I'm having problems with it-IT too.

[2015-08-28 11:12] antoineF opened #318 "Mismatch between it and it-IT"
When deliver get info from Apple, itunes return a section with lang it : ```<locale name="it">``` instead of it-IT deliver expects (in the itmsp file).
Then deliver creates two sections it and it-IT ; the first with no screenshots, the second with no generic infos.
At last itunes Transporter makes a error about duplicate locale :

    Locale 'it-IT': Duplicate locale" at Software/SoftwareMetadata/

[2015-08-28 11:15] KrauseFx commented on #318
Duplicate of https://github.com/KrauseFx/deliver/issues/317

[2015-08-28 11:15] #318 closed

[2015-08-28 11:15] KrauseFx commented on #317
It seems like that should be a permanent change. I'll work on an update to support the new format :+1:

[2015-08-28 11:35] gamlin777 commented on #317
Correction: it looks like "zh-Hans" and "zh-Hant" haven't changed from "cmn-Hans" and "cmn-Hant", though I can't be too sure, I've had problems with both versions.

[2015-08-28 17:54] bassrock commented on #290
@KrauseFx is there an equivalent metadata filename for the metadata folder for WHAT_TO_TEST? It looks like description and feedback_email exist.

[2015-08-28 20:22] diachini commented on #317
Not sure if it helps with diagnosing it at all, but if you do a ```deliver init``` on a project that already exists with support for languages that changed:
```el-GR, ja-JP, ko-KR, no-NO, ru-RU, sv-SE, tr-TR, cmn-Hans ```

they will pull down the metadata and images into these new respective folders:
```el, ja, ko, no, ru, sv, tr, zh-Hans```

(Note: this is a subset of the languages that changed.

[2015-08-29 03:16] diachini commented on #317
Digging in and modifying FastlaneCore::Languages::ALL_LANGUAGES to be:

    ALL_LANGUAGES = ["da-DK", "de-DE", "el"   , "en-AU", "en-CA", "en-GB", "en-US", "es-ES", "es-MX", "fi-FI", "fr-CA", "fr-FR", "id-ID", "it-IT", "ja"   , "ko"   , "ms-MY", "nl-NL", "no"   , "pt-BR", "pt-PT", "ru"   , "sv"   , "th-TH", "tr"   , "vi-VI", "zh-Hans" , "cmn-Hant"]

Seemed to fix up _most_ of my problems. zh-Hans

[2015-08-29 04:39] zeroel commented on #317
@diachini I think iTunes will it leave the 1.0.0 alone :)

[2015-08-29 08:44] KrauseFx commented on #290
@bassrock Sorry, not right now.

[2015-08-30 14:21] maurrubio commented on #317
Any update on this? I need to submit an update with new screenshots and texts for many new languages and using deliver to do it would be great.

[2015-08-30 18:14] GandjaFuzz commented on #317
please fix this bug asap. thanks! very many apps wait publication

[2015-08-31 11:20] diachini commented on #317
@zeroel you are absolutely correct, thanks!  Removing Simplified Chinese from 2.0.0 did NOT remove it from 1.0.0

I'm not going to make  a Pull Request for this because I really don't think it's the correct fix... but if you need a temporary work-around, you can edit your fastlane_core's lib/fastlane_core/language.rb ALL_LANGUAGES to reflect the new iTunes Connect versions of the languages:

[code

[2015-08-31 12:21] OlofT commented on #314
Yes, just add "-subitemtype None" as part of iTMSTransporters arguments, and it will work for apps with many in-apps.

[2015-08-31 13:39] #314 closed

[2015-08-31 13:40] KrauseFx commented on #314
Thanks @OlofT for researching a solution, that helped me to fully resolve the issue. Preparing a new release for `deliver` now

[2015-08-31 13:44] KrauseFx commented on #314
The release is ready: https://github.com/KrauseFx/deliver/releases/tag/0.13.3

[2015-08-31 16:14] uareurapid commented on #317
the workaround suggested works for me (i´ve changed fastlane_core/languages.rb to support "it" instead of "it-IT"). But in order to update metadata and screenshots i had also to change the screenshots corresponding folder name for the same language. As the folder is named "it-IT" when the screenshots are downloaded (on deliver init), so i had to rename it to "it" too so i could update screenshots

[2015-08-31 16:54] soheil opened #319 "Invite External Testers"
1. Submit for Beta App Review after the first time is instantaneous; any way to automate that?
2. Can we then Invite External Testers which is a simple form that needs to be submitted?

Turning them into optional params would work.

[2015-08-31 17:02] diachini commented on #317
@uareurapid++ forgot to mention that!  Thanks!  I also didn't explicitly mention it, but in order to get Simplified Chinese to work, I had to remove Simplified Chinese in iTunes Connect, and then my "cmn-Hans" metadata went up and made it available again.

[2015-08-31 19:39] camdenfullmer commented on #261
+1

[2015-08-31 23:54] facundomedica opened #320 "App Review Information not working"
Hey, I'm having a problem (only thing left to have Fastlane working... I think). I upload the review information but it does not work in the AppStore.
I've tried in three different ways:

[code]

And the other two, just like the above but one without the {} and the other replacing them for [].

Below I attach a piece of the image error thrown by Fastlane

![untitled](https://cloud.githubuserconten

[2015-09-01 02:37] KrauseFx commented on #319
Answer to both questions: [pilot](https://github.com/fastlane/pilot) :+1:

[2015-09-01 02:39] KrauseFx commented on #261
Could you share a bit more of your transporter output? There should be another error message above.

[2015-09-01 02:41] soheil commented on #319
:+1::+1:

[2015-09-01 03:19] zeroel commented on #317
@diachini Please help! How can I rebuild fastlane core's lib when I edited ALL_LANGUAGES? I'm a beginner with Ruby

[2015-09-01 03:28] diachini commented on #317
@zeroel - the nice thing about Ruby is not needing to rebuild it. If you're modifying the gem directly (probably not the safest approach, but a quick fix), once you save that file, the change should be in effect the next time you run ```deliver```.

[2015-09-01 03:33] zeroel commented on #317
Oh great! I will try, many thanks!

[2015-09-01 04:34] soheil commented on #319
I just tried pilot to no avail. I can't submit for Beta Review and then Invite Users. See screenshots below:

<img width="518" alt="screen shot 2015-08-31 at 9 29 40 pm" src="https://cloud.githubusercontent.com/assets/287288/9596299/ddfd3842-5027-11e5-9510-3d30659ee180.png">
<img width="1271" alt="screen shot 2015-08-31 at 9 30 10 pm" src="https://cloud.githubusercontent.com/assets/287288/9596298/

[2015-09-01 09:22] DmIvanov commented on #317
Made the corrections in core language file and in the metadata folders names.. Fastlane worked succesfully. But all the screenshots of broken locales (it, ko, sv, ru.. ) gone away from the iTunesConnect. Don't know what have I done wrong.. Had to manually return everything back. Be careful!

[2015-09-01 09:30] uareurapid commented on #317
@DmIvanov check my previous comment...You need to make sure you update the fastlane/screenshots/LANG_FOLDER folder names, to match the new language ones. The metadata folder names should be fine upon running "deliver init", it´s the screenshots folders that need to be renamed before uploading stuff back (unlike the metadata folders, seems that the screenshots folder structure is still downloaded w

[2015-09-01 09:36] Tibbs commented on #317
I deleted all languages directly from iTunes except English. I uploaded everything and it worked fine. I did not rename any folders.
I used the following folder notation: "da-DK" "de-DE"  "el-GR" "en-US" "es-ES" "es-MX" "fi-FI" "fr-FR" "id-ID" "it-IT" "ja-JP" "ko-KR" "ms-MY" "nl-NL" "no-NO" "pt-BR" "ru-RU" "sv-SE" "th-TH" "tr-TR" "vi-VI" "cmn-Hans" "cmn-Hant"

Deliver is great, many thanks for tha

[2015-09-01 09:41] gamlin777 commented on #317
@Tibbs Did you rename the locale ID's in "Languages.rb"?

[2015-09-01 09:48] Tibbs commented on #317
@gamlin777 No I did't rename anything, it worked without that.

[2015-09-01 09:51] DmIvanov commented on #317
@uareurapid All is correct except I haven't run "deliver init". Seems that was my mistake. Thanks, man! =)

[2015-09-01 10:05] uareurapid commented on #317
@DmIvanov You´re welcome. In my case i´m only having issues for Italian language/localization... Since this was named "it_IT" before, and now Apple changed it to "it" only.... so i need the workaround to update metadata & screenshots for new versions of already existing apps....
Hopefully, this will get fixed soon :-)

[2015-09-01 10:18] shingt commented on #317
Modifying `lib/fastlane_core/language.rb` and directory names works fine for Japanese as well :) Thanks!

[2015-09-01 17:04] gamlin777 commented on #317
Deleting the Chinese Simplified and Chinese Traditional from iTunes connect, then use Deliver to re-upload worked for me (including the changes made to the "language.rb" file.

[2015-09-01 20:25] facundomedica commented on #320
It was the format of the phone number, it must have + and the country code. Thanks!

[2015-09-01 20:25] #320 closed

[2015-09-02 08:19] OlofT commented on #314
Thanks yourself! Glad I could help.

[2015-09-02 15:17] NikhilRyan opened #321 "Metadata (including screenshots) not submitting to iTunes Connect"
I'm getting this confirmation from iTunes Connect but it seems that my data(title, description, support url, keywords & screenshots) is not uploaded. uploaded data is "app review info", "icon", "copyright" only.
I've used "deliver --force".
please let me know is it an iTunes issue or Deliver ?

![screen shot 2015-09-02 at 8 39 52 pm](https://cloud.githubusercontent.com/assets/13447764/9635195/dc83

[2015-09-02 16:05] SemenovAlexander commented on #321
I'm facing exactly the same issue now. But two days ago (on 31 august) - all worked fine.
I've inspected resulting metadata.xml file, and it looks to be completely fine. Also, if I put invalid data (e.g. keywords with more, that 100 chars) - iTunes Connect fires valid error, I can see it in Transporter output.

So I believe it's an issue on Apple side.

[2015-09-02 17:10] GandjaFuzz commented on #321
need change locale and all will be good. see this link
https://github.com/KrauseFx/deliver/issues/317

[2015-09-02 21:38] KrauseFx commented on #317
I'm working on a fix for this *right now* :rocket:

[2015-09-02 23:59] KrauseFx commented on #321
Yes, moving further discussion to https://github.com/KrauseFx/deliver/issues/317

@NikhilRyan It usually needs a few minutes until everything is visible on iTunes Connect.

[2015-09-02 23:59] #321 closed

[2015-09-03 00:00] KrauseFx commented on #317
Finally finished with this, please update to https://github.com/KrauseFx/deliver/releases/tag/0.13.4 and let me know if that works for you :rocket:

I tried this with multiple apps - if you run into any issues I haven't thought of, please let me know :+1:

[2015-09-03 05:06] NikhilRyan commented on #321
@SemenovAlexander  @KrauseFx @GandjaFuzz
thank you all
got the answer here as well:
https://twitter.com/search?q=%23itunesconnect

[2015-09-03 07:39] SemenovAlexander commented on #317
@KrauseFx I've just updated, and now it works like a charm for me. Thanks, you rock!

[2015-09-03 09:15] nicked commented on #317
I told the guys here you'd have this fixed in a couple of days @KrauseFx and you exceeded even my expectations :)

Thanks again!

[2015-09-03 11:08] diachini commented on #317
@KrauseFx you are officially awesome!  I knew you'd be able to fix it in the _correct_ way (with backward compatibility).

One edge case I ran into:
- I created a new app and selected each one of the languages in iTunes Connect
- I did ```deliver init``` while still on deliver 0.13.2
- I upgraded to deliver 0.13.4
- I got the error ```error: The specified language could not be found. Make sure it

[2015-09-03 16:05] KrauseFx commented on #321
@NikhilRyan What's the answer you got from the Twitter search?

[2015-09-03 17:23] KrauseFx commented on #317
Thanks @SemenovAlexander @nicked @diachini :rocket:

@diachini Sorry, you'll have to manually rename the folders from the old to the new notation. Let me know if that works.

[2015-09-03 18:14] diachini commented on #317
@KrauseFx no reason to apologize!  It totally worked with renaming the folders (or doing a ```deliver init``` with version 0.13.4).  I was just wondering how much worry was given to backwards compatibility. (If it comes up as a question from anyone else, perhaps at that point it could be worth making it into an FAQ or a nice error message ("Did you do a deliver init with an older version of delive

[2015-09-03 18:18] KrauseFx commented on #317
Thanks @diachini :+1: I secretly hope that Apple fixes the Chinese locale soon, so that I don't need to add another workaround for that.

[2015-09-04 10:07] uareurapid opened #322 "Separate metadata from screenshots?"
I´m not sure if i´m missing something or if this is some limitation of the tool...
But, is it possible to download only screenshots or only metadata?
Further more, suppose that i want to just update the metadata of a given app (and i do not want to touch the existing screenshots ).. Is this possible?
Seems to me that deliver always download screenshots and metadata together, and for uploading is t

[2015-09-04 13:38] aloifolia opened #323 "Jenkins... Password (for my_email_address): stty: stdin isn't a terminal"
I am trying to execute fastlane with Jenkins with `fastlane test`. After the installation of all pods, as soon as fastlane tries to log into iTunesConnect, Jenkins ask for my credentials:
[code]
... and so on

If I execute the same command manually in the terminal, the credentials are automatically retrieved since fastlane is generally granted access to the keychain. Why does it not work inside Je

[2015-09-04 16:29] KrauseFx commented on #323
Can you do a remote login to Jenkins and run `fastlane` once? You will only be asked the first time for your password.

In general, this also depends on how Jenkins is running. If it's its own user, you might run into issues with the Keychain.

[2015-09-04 16:35] KrauseFx commented on #322
That's a lot of questions, I try to answer each of them below:

You can download existing screenshots using `deliver download_screenshots` and download all metadata using `deliver init` (which has to be executed in a folder without a `Deliverfile`)

No, it's not possible. That's a bug in iTunes Transporter, which overwrites the screenshots every time. That's what the `deliver download_screenshots`

[2015-09-04 16:47] uareurapid commented on #322
Ok, got it!
Thanks a lot for the prompt response. Shame on Apple :-).  If we´re dealing with 1 or 2 apps at the time i guess it doesn´t hurt much... but i´m dealing with many, so it gets a bit time consuming :-)

[2015-09-04 17:23] soheil commented on #319
@KrauseFx ant ideas?

[2015-09-04 18:24] KrauseFx commented on #322
If you decide to maintain the metadata + screenshots all locally in git it's not a problem. Every time you change something you update your metadata files and run `deliver` to update it on iTunes Connect.

[2015-09-04 18:25] KrauseFx commented on #319
Sorry no. Where do you have the screenshots from? What's the error when running `pilot`?

[2015-09-04 18:26] soheil commented on #319
There is no error, my question is can pilot or any of your other tools do
the following:

1. Submit for Beta Review
2. Invite External Users

Soheil

On Fri, Sep 4, 2015 at 11:25 AM, Felix Krause <notifications@github.com>
wrote:

[2015-09-04 18:40] KrauseFx commented on #319
Yes, you can use `pilot` or `boarding` to invite external beta testers.

You can submit apps for beta review using `spaceship` directly, there is no tool exposing this feature yet.

[2015-09-04 18:43] soheil commented on #319
can you please send me the exact command for using pilot to invite external
users? I couldn't find it in the docs.

On Fri, Sep 4, 2015 at 11:40 AM, Felix Krause <notifications@github.com>
wrote:

[2015-09-04 18:44] KrauseFx commented on #319
https://github.com/fastlane/spaceship/blob/master/docs/iTunesConnect.md#testers

[2015-09-04 18:45] KrauseFx commented on #319
Also, you can add existing testers to your app using https://github.com/fastlane/boarding/blob/master/app/controllers/invite_controller.rb#L61

[2015-09-04 18:54] soheil commented on #319
There is no command line?

Also I don't want to submit to App Store Review I want to submit for Beta
App Review so then I can invite external users.

On Fri, Sep 4, 2015 at 11:45 AM, Felix Krause <notifications@github.com>
wrote:

[2015-09-04 19:04] uareurapid commented on #322
Indeed :+1: I have. I have a script that can build all the apps (or just a subset), and gets the updated metadata/screenshots from git, running then a specific *fastlane* lane afterwards (which could be just update the metadata/screenshots with *deliver* )
But since is the first time i´m doing this huge update i also check the pdf preview, which requires user intervention... if not i could just le

[2015-09-04 21:42] KrauseFx commented on #322
You can always pass `--force`

No plans for GameCenter right now.

[2015-09-04 22:37] uareurapid commented on #322
:+1:

[2015-09-08 11:37] ffittschen commented on #159
@KrauseFx I think if there is no `edit_version` AND the app status is `Prepare for Submission`, then it is a new app. Where could this check be implemented?

[2015-09-09 01:10] jonsajdak opened #324 "deliver testflight without waiting for processing to complete?"
I use "deliver testflight" to upload a build and it works great.  After a successful update it sits and waits for processing to complete, and admits it may take up to 45 minutes.  Unfortunately, ITC is unpredictable in the wait time but it is usually at least a couple minutes.

Is there a way already, or can we add a flag to have it upload and NOT wait for processing to end?  Once upload is comple

[2015-09-09 01:14] KrauseFx commented on #324
Yes, `deliver testflight --skip-deploy `

I'd recommend using `pilot` instead of `deliver` if you only want to do TestFlight builds.

[2015-09-10 15:29] vCrespoP opened #325 "Selecting wrong binary when delivering to ITC"
I have several compilations uploaded to ITC, and when the time comes for deliver to select automatically a build, it selects an old one, not the latest one (previous day in fact).

Anything I'm missing or this is a bug that can be confirmed?

As usual, thanks a lot! :D

[2015-09-10 21:01] KrauseFx commented on #325
Sorry, this seems to be a bug. I'm working on a new version of `deliver`, that should fix this issue. You can follow the progress here: https://github.com/KrauseFx/deliver/pull/259

[2015-09-11 15:06] JoshBoluga opened #326 "An XML parsing error has occurred"
I keep getting this error when running deliver with no parameters:
[code]

I opened up the metadata within the 886590114.itmsp package, and it *isn't* well-formed, but this data is downloaded from iTunes when deliver is ran, right?

Any advice would be greatly appreciated. Many thanks.

Stack:
[code]

Deliverfile (with some fields blanked - they are valid in the real version):
[code]
I'm not using

[2015-09-11 21:04] KrauseFx commented on #326
Your configuration looks correct. Since I don't see the content of the XML file I can only assume that there is some edge case with special characters. Does your description, title, etc. have any special characters, like `<` that might cause this issue?

Did you validate the XML code using a validator?

[2015-09-12 02:33] madangosain commented on #308
If you don't want to maintain multiple folders, create symlinks pointing to one folder for each language. It'll upload same photos for all language

[2015-09-12 02:36] madangosain opened #327 "In-app purchase and/or Game Center"
Can I upload in-app purchase and Game Center Localized Metadata using deliver?
Thanks for awesome plugin.

[2015-09-12 05:18] KrauseFx commented on #327
Thanks. Sorry, that's not possible right now.

[2015-09-12 05:18] KrauseFx commented on #327
Moving further discussion to https://github.com/KrauseFx/deliver/issues/35, feel free to subscribe to the other issue :+1:

[2015-09-12 13:32] meyskens opened #328 "Login not working (due bad loaded page?)"
Deliver fails to log in to my account while Produce does so the password is correct.
I get the following trace and screenshot:
[code]
![mddhu3f](https://cloud.githubusercontent.com/assets/1625272/9831755/962d2334-5963-11e5-8f38-a0d7a985c73c.png)

[2015-09-13 02:59] KrauseFx commented on #328
Sorry, I'm already working on an upgrade of `spaceship`, you can follow the progress here: https://github.com/KrauseFx/deliver/pull/259

[2015-09-14 08:29] JoshBoluga commented on #326
My mistake! I just did ran it through a validator and there were a couple of weird non-visible characters. These were in the description text files too. After removing them, everything went through fine. Sorry and thanks.

[2015-09-14 08:29] #326 closed

[2015-09-14 14:34] ebridges opened #329 "Question: what is the function of the "beta_ipa" function/variable in the Deliverfile?"
Is the assumption that one would create a different ipa when building betas?

The documents indicate that it's only to flag that "it will not upload new app metadata" which makes me wonder why it also supplies a path to an ipa in all of the examples.

[2015-09-14 15:46] KrauseFx commented on #326
:+1:

[2015-09-14 15:47] KrauseFx commented on #329
`beta_ipa` gets uploaded when running `deliver --beta` and will not upload app metadata / screenshots
`ipa` gets uploaded when running `deliver` and will upload metadata / screenshots

Additionally `deliver --beta` will not submit the app for review.

Does that make sense?

[2015-09-14 17:49] ebridges commented on #329
I guess.

In our use case we haven't noticed any differences because
(a) we only have one IPA that has the same name regardless of whether it's a beta, and
(b) the app isn't in the store yet.

We have not been using the `--beta` switch;  however, contrary to what you state, it hasn't been submitting it to the store.  Would that be because there's currently not a released version?

[2015-09-15 10:27] fousa opened #330 "Deliver a Mac application."
Hi Felix,

I'm trying to upload a Mac application with fastlane. But it says I have an invalid IPA file. Here is my Fastfile:

[code]

My Deliverfile is super simple:
[code]

I noticed that the `ipa_uploader` checks for the _.ipa_ extension. But my Mac builds are having an _.app_ extension...

[2015-09-15 11:37] pkurzok opened #331 "Possibility to specify the metadata folders path"
Is there a possibility to specify the path where the metadata is read from? Similar to the screenshots_path?

I have multiple targets with separated delivery files and it would be great to specify a folder per target.

Thanks for this great project by the way.

[2015-09-15 13:28] truth3 commented on #331
Hey there, if you create separate folders for each target within the main deliver folder, and then run *deliver init* for each target in their respective folder you should get what you are looking for.

Inside each of the target folders you will have the deliver file, screenshots, and meta data. In your Fastfile, just set each lane to their respective folder and you are done.

Hope that helps!

[2015-09-15 13:54] fousa commented on #330
I'm digging in a little deeper, and there are some manual `.ipa` checks, when disabling them manually in my local gem I get the following errors.

[code]

Digging in a little deeper.

[2015-09-15 13:59] uareurapid commented on #330
@fousa i might be wrong but aren´t .ipa files only for IOS apps?
I usually deliver mac OS X apps as .pkg packages

[2015-09-15 14:07] fousa commented on #330
Yes that is correct.

That is the problem. I generate an `.app` file correctly, but all the internal validation is done on the `.ipa` format. So I suppose deliver isn't ready for OS X submits.

[2015-09-15 14:13] uareurapid commented on #330
yes, i don´t think so :-)
Better use Application Loader for the build upload, but in any case i think you can still use fastlane for all the metadata/screenshots related stuff

[2015-09-15 15:50] KrauseFx commented on #330
@fousa right now `deliver` only supports app metadata and screenshots for Mac applications, not the binary. If you find a way to upload a mac application using the iTunes Transporter command line tool, I'm happy to integrate this into `deliver`. You're right, there are some validations to make sure the file format is `ipa`.

[2015-09-15 15:52] KrauseFx commented on #331
Thanks for jumping in @truth3 :+1:

There is no way to set a custom path right now. You can always build something on top of the `Deliverfile`, as the `Deliverfile` is just a standard Ruby file.

[2015-09-15 15:56] pkurzok commented on #331
Thanks guys. @truth3's solution solves my problem.

[2015-09-15 15:56] #331 closed

[2015-09-16 10:36] osmanertem commented on #308
hi madangosain,
Thank you for your answer.
I do the same thing(creating symbolic links) but, it increases the upload time as expected.
I wanted to skip upload process for each language.

[2015-09-18 09:03] hufkens opened #332 "Make metadata folder a parameter like screenshots"
I have an app with 2 targets and I want te specifiy the deliver data for both apps. I don't find where I can specify the folder used for the metadata.

I already use .env files for environments and that got me setup for using the same scripts for 2 different apps.

[2015-09-18 17:34] KrauseFx commented on #332
Sorry, not possible right now. You can use 2 separate folders in which you run `deliver`

[2015-09-18 18:23] hufkens commented on #332
Thanks Felix,

Would be nice if it would be added someday. But I can live with that :)
Keep up the good work!

--
Alain Hufkens

Phone: +32 478 25.64.06
Twitter: @hufkens
Web: www.hufkens.net
LinkedIn: linkedin.com/in/alainhufkens

On 18 Sep 2015 at 19:34:08, Felix Krause (notifications@github.com) wrote:

Sorry, not possible right now. You can use 2 separate folders in which you run deliver

—
Re

[2015-09-18 18:23] KrauseFx commented on #332
Thanks! :+1:

[2015-09-20 15:16] fatuhoku commented on #266
What's the latest on this? I've relied on setting

[code]

in the `Appfile`, which has worked for me fairly well so far. However now I consistently get asked about the app id.

[2015-09-20 17:56] KrauseFx commented on #266
@fatuhoku Please share your output when getting asked for the App ID.

[2015-09-21 13:29] gvhuyssteen opened #333 "Cannot deliver IPA file"
I'm trying to run `deliver` and getting the following error:

[code]
I hashed out my email address on purpose!

I have tried the following:
1) gem update deliver  (Nothing to update)
2) Cleared all the deliver credentials from Keychain Access.
3) Made sure that the credentials I'm using matches iTunesConnect credentials.

Here is the stack trace:

[code]

[2015-09-21 14:47] gvhuyssteen commented on #333
I can log in now. Seems like Apple was temperamental.

[2015-09-21 14:47] #333 closed

[2015-09-21 16:19] KrauseFx commented on #333
:+1:

[2015-09-21 17:05] gvhuyssteen opened #334 "Update apple_id in Deliver file even if the app already exists."
I'm not sure if I'm doing this correctly, but I dynamically create a Deliverfile with apple_id as follow

[code]

We already have an app in the app store with the specific file apple id, but we have many applications in the app store where different people on the team updates the app.

How can we replace ENV['PRODUCE_APPLE_ID'] with the actual apple_id when running produce?

[2015-09-21 18:00] KrauseFx commented on #334
When you run `produce` before `deliver` using `fastlane`, the above configuration should just work.

You can also just remove the `apple_id` option once the app is in the store, as `deliver` will automatically find the App ID based on the app identifier.

[2015-09-22 09:14] nicked commented on #322
This is annoying that you can't upload text and screenshots separately.

(I know you can't do anything about it @KrauseFx -- just adding another use case :)

When our app is Pending Developer Release, sometimes we need to update the What's New text with some last minute changes. However, Apple doesn't let you update screenshots in this state, so the whole deliver upload fails.

`Return status of i

[2015-09-22 15:30] EdwinRikkers commented on #252
+1

[2015-09-22 15:30] EdwinRikkers commented on #252
what is the status of this issue?

[2015-09-22 19:21] KrauseFx commented on #252
@EdwinRikkers You can follow the status here: https://github.com/KrauseFx/deliver/pull/259 Please subscribe to the pull request to be notified once it's ready.

[2015-09-23 08:20] ricardopereira opened #335 "Couldn't find element '.page-subnav' after waiting for quite some time"
I'm can't upload the app to AppStore. I'm using the latest version (`1.29`).

**Command**
`deliver(skip_deploy: true, force: true)`

**Log**
[code]

[2015-09-23 09:29] aloifolia commented on #323
If I do a remote login via SSH I get an error message, as well. Actually, there is a user 'jenkins' on the mac which is also used for Jenkins.

Currently, this works remotely only via Screen Sharing.

[2015-09-23 17:04] KrauseFx commented on #335
This part of `deliver` will be completely rewritten to use `spaceship`, please subscribe to https://github.com/KrauseFx/deliver/pull/259 to get notified once it's ready.

[2015-09-23 17:05] KrauseFx commented on #323
Yes, that's the problem, you have Jenkins running as its own user, therefore it doesn't have access to the Keychain the way your account has.

[2015-09-23 18:13] ricardopereira commented on #335
Do you have any estimation?

[2015-09-23 18:17] KrauseFx commented on #335
I try to work on it as much and as fast as possible. Unfortunately it's a *huge* change, I want to get it done ASAP, but will probably take a few more weeks.

[2015-09-23 18:18] KrauseFx commented on #335
In the mean time you'll have to manually submit your app for review.

[2015-09-23 18:18] KrauseFx commented on #335
and only do the uploading part with `deliver`.

[2015-09-24 12:38] tkiener opened #336 "Keyword textfile not considered"
Hey guys,
great tool, thanks.
After the latest update calling "deliver" reports errors. the "keywords.txt" is not loaded from the language subfolders in metadata-directory.
all languages got a complete keywords.txt. but in the preview there are no keywords shown.

Any suggestions?
Thanks,
Tim

[2015-09-24 16:56] KrauseFx commented on #336
Hey Tim,

There was no update recently and there weren't any changes with the keywords: https://github.com/KrauseFx/deliver/releases

Could you provide more information?

[2015-09-24 17:42] tkiener commented on #336
Hi,
it seems like, deliver can not create languages on ITC.
We did it manually with fake text, called deliver init and updated everything in the text-files. Then it worked.

Best,
Tim

Tim Kiener
----------------------------------
wonderkind GmbH
Linienstr. 127
10115 Berlin

tel. +49 (0)30 . 308 788 10
fax. +49 (0)30 . 308 788 109

tim.kiener@wonderkind.de<mailto:tim.kiener@wonderkind.de>
linkedin

[2015-09-24 22:57] soleo commented on #335
[code]
Same error here.

[2015-09-25 06:21] EdwinRikkers commented on #335
"error: Couldn't find element '.page-subnav' after waiting for quite some time. Use --trace to view backtrace. "

I get this error even before the IPA is uploaded. The whole iTunes Connect design is also updated, so could that be the issue here ???

[2015-09-25 06:51] kani-rifluxyss opened #337 "Deliver fails after iTunes connect updated yesterday (9/24)"
Deliver fails after iTunes connect updated yesterday (9/24)

We are using deliver for few months now, so far working good. Thanks for making this tool.

Yesterday Apple updated their UI for itunesconnect and deliver is failing.

Is there an update available to handle this?

Here is what it says:

[2015-09-25 07:29] dral3x commented on #337
:+1:

[2015-09-25 07:29] roccozanni commented on #337
+1

[2015-09-25 07:31] DeadCounter commented on #337
+1

[2015-09-25 07:35] pracucci commented on #337
+1

[2015-09-25 07:36] lele85 commented on #337
+1

[2015-09-25 07:47] Ariharan commented on #337
+1

[2015-09-25 09:36] EdwinRikkers commented on #337
+1

[2015-09-25 13:14] cbo1964 opened #338 "undefined method `[]' for nil:NilClass"
HI,

just installed deliver and trying to download screenshots, this is what I get:

![error1443186692](https://cloud.githubusercontent.com/assets/4068346/10101281/10c0266c-6398-11e5-839c-fb059e4d2183.png)
GEC001-Mac-mini:iOS imac$ deliver download_screenshots -a gec.MarineApp.Bahamas -u gghiggini@gec-it.com
[15:11:14]: Downloading all existing screenshots...
[15:11:16]: Logging into iTunesConnect

[2015-09-25 13:29] mashour commented on #337
+1

[2015-09-25 14:54] ericertl commented on #337
:+1:

[2015-09-25 14:57] appleguy1999 commented on #337
+1

[2015-09-25 17:40] KrauseFx commented on #338
Duplicate of https://github.com/KrauseFx/deliver/issues/337

This is the new iTunes Connect which breaks `deliver` as it is now. I'm working on a fix.

[2015-09-25 17:40] KrauseFx commented on #335
Moving everything over to https://github.com/KrauseFx/deliver/issues/337

[2015-09-25 17:40] #335 closed

[2015-09-25 17:40] KrauseFx commented on #335
@EdwinRikkers Yes, I'm already working on a new version :+1:

[2015-09-25 17:41] soleo commented on #337
+1

[2015-09-25 17:42] KrauseFx commented on #337
Thanks everyone of the `+1`. I'm already working on a new version of `deliver` using `spaceship`.

Just a heads up: This is not a simple thing to change in `deliver`, it required big refactors. I'm trying my best to finish the new version as soon as possible.

You can follow the progress here: https://github.com/KrauseFx/deliver/pull/259

[2015-09-25 17:55] #338 closed

[2015-09-25 18:03] KrauseFx commented on #337
I pushed a new version that shows a warning that `deliver` doesn't work with the new iTunes Connect yet.

[2015-09-25 18:55] pracucci commented on #337
Is a "quick" fix on the current codebase feasible?
Il 25/set/2015 20:03, "Felix Krause" <notifications@github.com> ha scritto:

[2015-09-25 22:07] iPavel92 commented on #337
Felix, just wanna to say thank you.
I know it's a hard time now. Apple likes to make development harder ;) Keep calm and rock on warp-9 speed ;)

[2015-09-25 22:21] KrauseFx commented on #337
@pracucci Sorry, no. There have been *major* changes of how iTunes Connect works under the hood. I'm working on the new version as fast as I can :rocket:

[2015-09-25 22:22] KrauseFx commented on #337
Again, you can follow the progress over here https://github.com/KrauseFx/deliver/pull/259

[2015-09-26 03:59] pracucci commented on #337
@felix thanks for the update. We really appreciate your huge effort.

2015-09-26 0:22 GMT+02:00 Felix Krause <notifications@github.com>:

[2015-09-26 22:49] KrauseFx commented on #337
A short update: https://github.com/KrauseFx/deliver/pull/259 is almost ready.

I'll upload a beta version later today once the pricing part is finished :+1:

[2015-09-27 05:43] KrauseFx commented on #337
I'm finally done, please check out the release notes https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta.

Please let me know if there is anything I forgot or anything that works differently than in previous versions.

[2015-09-27 05:49] KrauseFx commented on #271
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta
There is a new option
[code]

[2015-09-27 05:49] KrauseFx commented on #281
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta as this is now implemented :+1:

[2015-09-27 05:49] #281 closed

[2015-09-27 05:49] KrauseFx commented on #276
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta
this will improve everything, please let me know if that works for you.

[2015-09-27 05:51] KrauseFx commented on #294
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta

You can now use the following options

[code]

You can either pass them via the command line or put them into your `Deliverfile` or `Fastfile`

[2015-09-27 05:53] KrauseFx commented on #305
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta as this now uses `spaceship` instead of web scraping, making things much faster and more stable :+1:

[2015-09-27 05:53] KrauseFx commented on #306
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta and let me know if that works for you :+1:

[2015-09-27 05:54] KrauseFx commented on #335
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta which fixes all these issues :+1:

[2015-09-27 05:55] KrauseFx commented on #252
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta as this should finally resolve all the issues :+1:

[2015-09-27 05:56] KrauseFx commented on #328
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta. Please let me know how it works for you :+1:

[2015-09-27 05:56] #328 closed

[2015-09-27 05:57] KrauseFx commented on #325
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta and let me know if that works for you.

[2015-09-27 05:57] KrauseFx commented on #325
The build selection was completely rewritten.

[2015-09-27 05:58] KrauseFx commented on #316
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta which improves the communication with iTunes Connect.

[2015-09-27 05:59] KrauseFx commented on #315
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta which improves the communication with iTunes Connect.

[2015-09-27 06:38] soleo opened #339 "uninitialized constant Deliver::Deliverer for 1.0.0 beta 1"
installed new version with `` sudo gem install deliver --pre``

But still cannot succefully deliver app.

Here is the dump.

[code]

[2015-09-27 07:40] KrauseFx commented on #339
Ohh, that's because the `fastlane` action was not yet updated to use `deliver 1.0`. I'll prepare something over the next days, in the mean time please use

[code]

in your `Fastfile` instead.

[2015-09-27 09:52] meyskens opened #340 "Deliver 1.0: `require': cannot load such file"
When trying to start the new deliver I get the following error:

[code]

[2015-09-27 13:54] alexdie commented on #340
`sudo gem install pry` resolves this, the dependency wasn't installed automatically.

[2015-09-27 14:37] meyskens commented on #340
Thanks @alexdie that worked only now I get another dependency issue, I checked these and they are installed okay:
[code]

[2015-09-27 15:42] soleo commented on #339
Still no luck
[code]

[2015-09-27 16:03] DouglasHennrich opened #341 "Add appbundle on Deliver"
I look into your code and you don't expose an option to pass the app bundle id when initializa Deliver for the first time... We can pass the user id but not the app id... Can you expose this option, please? I want to use it on [our module for Titanium](https://github.com/ulizama/TiFastlane/blob/master/README.md)

[2015-09-27 16:10] pajai commented on #339
Getting the exact same stack trace (though calling deliver directly).

[2015-09-27 16:37] skywinder commented on #271
Great news! I think `upload_metadata` & `skip_metadata` will cover all cases. So, you can close this issue with `1.0.0` release. :+1:

[2015-09-27 19:44] KrauseFx commented on #340
Sorry about the `pry` issue, `sudo gem install pry` will fix it. This will be resolved on the next beta.

The second error is from your `Deliverfile`, can you share your configuration?

[2015-09-27 19:45] pajai commented on #339
Workaround: I was able to get deliver to work by commenting out the call to validate_html on line 44 of the following script:

/Library/Ruby/Gems/2.0.0/gems/deliver-1.0.0.beta1/lib/deliver/runner.rb

[2015-09-27 19:45] KrauseFx commented on #341
This is possible with the new beta version of deliver: https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta Please give it a try and let me know how it works :+1:

```deliver --help```

[code]

[2015-09-27 19:46] KrauseFx commented on #339
Sorry about that, I'll push a fix in a minute :+1:

[2015-09-27 19:47] meyskens commented on #340
sure, here it is (I filtered some personal info):
[code]

[2015-09-27 19:48] pajai commented on #339
No worries. Thank you for writing deliver & fastlane.

[2015-09-27 19:53] KrauseFx commented on #271
Yeah :rocket: I'll close this issue, as I'll forget to do it once 1.0 is released

[2015-09-27 19:53] #271 closed

[2015-09-27 19:55] KrauseFx commented on #340
Did this work before @meyskens

[code]

You have to add `"` around the value

[code]

[2015-09-27 19:56] meyskens commented on #340
Just noticed it, normally my script that generates these files does that. Removing a bunch of old tags in the file now. Will tell you when it works. Thanks for the help